<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>
	.message {
		margin: 0.5rem;
	}
	.is-parent {
		margin: 0.5rem;
	}
	</style>
</head>
<body>
	<div id="app">

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">
			_id: {{user._id}}, name: {{user.name}}, email: {{user.email}}, member_id: {{user.member_id}},
				</div>
			</div>
		</div>

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<form v-on:submit.prevent="form_submit">
						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									イベント参加登録
								</div>
								<div class="message-body">

									<h1> {{event.name}}</h1>
									日付: {{event.startDate}}<br />
									時間: {{event.startTime}} ～ {{event.endTime}}<br />
									場所: {{event.place}}<br />
									<p>
									{{event.description}}
									</p>

									<div class="field">
										<label class="label">どれか選んで下さい</label>
										<input  type="radio" id="parent" value="保護者" v-model="item.title" v-on:change="item.children = [{name:'', grade:''}];">
										<label for="parent">わたしは保護者です。子どもの予約をします。<label>
										<br>
										<input  type="radio" id="student" value="生徒" v-model="item.title" v-on:change="item.children = [];">
										<label for="student">わたしは生徒です。自分の予約をします。<label>
										<br>
										<input  type="radio" id="staff" value="ボランティア" v-model="item.title" v-on:change="item.children = [];">
										<label for="staff">わたしはボランティア・スタッフです。自分の予約をします。<label>
										<br>
									</div>

									<div class="field">
										<label class="label">わたしの名前</label>
										<input v-model="item.name" class="input" type="text" required placeholder="あなたの名前を入力してください">
									</div>

									<div class="field">
									  <label class="label">メール</label>
									  <div class="control has-icons-left">
											<input v-model="item.email" class="input" type="email" required  placeholder="someone@j-code.org">
											<span class="icon is-small is-left">
												<i class="fas fa-envelope"></i>
											</span>
									  </div>
									</div>

									<div class="field">
										<label class="label">電話番号</label>
										<input v-model="item.tel" class="input" type="text" required placeholder="電話番号">
									</div>

									<template v-if="item.children.length">
										<table>
											<button v-on:click="item.children.push({name:'', grade:''});">
												参加者をふやす
											</button>
											<button v-on:click="item.children.pop();">
												参加者をへらす
											</button>
											<tr>
												<th>
												子どもの名前
												</th>
												<th>
												学年
												</th>
											</tr>
											<template v-for="(val, index) in item.children">
												<tr>
													<td>
														<input v-model="val.name" class="input" type="text" required placeholder="なまえ" required>
													</td>
													<td>
														<select v-model="val.title" required>
															<option disabled value="">学年をえらぶ</option>
																<option>小1</option>
																<option>小2</option>
																<option>小3</option>
																<option>小4</option>
																<option>小5</option>
																<option>小6</option>
																<option>中1</option>
																<option>中2</option>
																<option>中3</option>
															</select>
													</td>
												</tr>
											</template>
										</table>
									</template>

									<div class="field">
										<label class="label">通信欄</label>
										<input v-model="item.memo" class="input" type="text" placeholder="参加の動機やちょっとした質問など">
									</div>

									<div class="field is-grouped">
								  	<div class="control has-text-right">
									  	<input class="button is-primary" type="submit" value="登録">
									  </div>
									</div>

								</div>
							</div>
						</article>
					</form>

				</div>
			</div>
		</div>

	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="../admin/restapi.js"></script>
	<script src="script.js"></script>
</body>
</html>
