<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>

	.message {
		margin: 1.5rem;
	}
	.frame {
		margin: 1.5rem;
	}
	.morespace {
		margin: 0 1rem;
	}
	</style>

	
</head>
<body>

	<div id="app">

		<article class="message is-primary">
			<div class="content">
				<div class="message-header">
					会員専用画面に入る（サインイン）
				</div>
				<div class="message-body">

					<form v-on:submit.prevent="sign_in(user)">
						<div class="field">
						  <label class="label">メールアドレス</label>
						  <div class="control has-icons-left">
								<input v-model="user.email" class="input" type="email" required  placeholder="someone@j-code.org" autocomplete="email">
								<span class="icon is-small is-left">
									<i class="fas fa-envelope"></i>
								</span>
						  </div>
						</div>

						<div class="field">
							<label class="label">パスワード</label>
							<input v-model="user.password" type="password" required autocomplete="current-password">
						</div>
						<p class="help is-danger">${errmsg}</p>

						<div class="field">
					  	<div class="control">
						  	<input class="button is-primary" value="サインイン" type="submit">
						  </div>
						</div>
					</form>

					<p>
					パスワードだけが分からない場合は<a href="/go/password{{{nexturl}}}">ここをクリック</a>します。
					</p>
					<p>
					あらたに会員登録をする場合は、<a href="/go/newuser{{nexturl}}">ここをクリック</a>します。
					</p>
					<P>
					※自分のメールアドレスを持っていない人は、会員登録ができません。保護者や先生に、かわりに登録してもらってください。
					</P>

				</div>
			</div>
		</article>
	</div>


	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>
const app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		user:{},
		mailDone: false,
		errmsg: "",
	},
	methods: {
		// サインイン
		sign_in: function (user) {

			axios.post(location.protocol+"//"+location.host+"/api/user/signin", user).then((response) => {
				var token = response.data;
				restapi.pushToken(token);
				location.href = "{{{nexturl}}}"; // リダイレクト

			}).catch((error) => {
				console.log("err:", error.response);
				this.errmsg = error.response.data;
				restapi.popToken();
			});
		},
	}
})
	</script>
</body>
</html>
