<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>

	.message {
		margin: 1.5rem;
	}
	.frame {
		margin: 1.5rem;
	}
	.morespace {
		margin: 0 1rem;
	}
	</style>

	
</head>
<body>
	<div id="app">

		<template v-if="!mailDone">
			<article class="message is-primary">
				<div class="content">
					<div class="message-header">
						パスワードをリセットして、メールを送る
					</div>
					<div class="message-body">

						<form v-on:submit.prevent="send_mail(user)">
							<div class="field">
							  <label class="label">メールアドレス</label>
							  <div class="control has-icons-left">
									<input v-model="user.email" class="input" type="email" required  placeholder="someone@j-code.org">
									<span class="icon is-small is-left">
										<i class="fas fa-envelope"></i>
									</span>
							  </div>
							</div>

							<div class="field">
						  	<div class="control">
							  	<input class="button is-primary" value="メール送信" type="submit">
							  </div>
							</div>
						</form>
						<p></p>
						<p>
						パスワードを思い出したので、サインインする場合は、<a href="/go{{{nexturl}}}">ここをクリック</a>します。
						</p>
						<p>
						あらたに会員登録をする場合は、<a href="/go/newuser{{{nexturl}}}">ここをクリック</a>します。
						</p>
						
					</div>
				</div>
			</article>
		</template>
		<template v-else>

			<article class="message is-primary">
				<div class="content">
					<div class="message-header">
						メールを確認してください。
					</div>
					<div class="message-body">

						<p>
						メールのパスワードを使ってサインインしてください。<br />
						メールの送信には数分かかることがあります。<br />
						迷惑メールになっていないかご確認ください。<br />
						</p>
						<p>
						もう一度パスワードをリセットして、メールを送るなら、<a v-on:click.prevent="showDlg()">ココ</a>をクリック。
						</p>

						<a class="button is-primary" href="/go{{nexturl}}">次へすすむ</a>

					</div>
				</div>
			</article>


		</template>

	</div>
	<script>window.Promise || document.write('<script src="//www.promisejs.org/polyfills/promise-7.0.4.min.js"><\/script>');</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/ui/js/vue.min.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>
const app = new Vue({
	el: '#app',
	data: {
		user:{},
		mailDone: false,
	},
	methods: {
		// パスワードのリセットとメール送信
		send_mail: function(user) {
			console.log("mail");
			user.password = "7878";
			var that = this;
			axios.post(location.protocol+"//"+location.host+"/api/user/reset", user).then(function(response) {
				that.mailDone = true;
			});
		},
		showDlg: function() {
			this.mailDone = false;
		},
	}
})
	</script>
</body>
</html>
