<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>

	.message {
		margin: 1.5rem;
	}
	.frame {
		margin: 1.5rem;
	}
	.morespace {
		margin: 0 1rem;
	}
	input.radio {
   width: 1.8em;
   height: 1.5em;
	}
	input.checkbox{
   width: 1.5em;
   height: 1.5em;
   margin: 0.5em;
	}
	.control {
		margin-bottom: 2em;
	}
	.field {
		margin-bottom: 2em;
	}
	
	</style>

	
</head>
<body>
	<div id="app">

	<article class="message is-primary">
		<div class="content">
			<div class="message-header">
				アンケート用紙
			</div>
			<div class="message-body">

				<form v-on:submit.prevent="submitItem(item)">

					<div class="field">
						会員番号：${user.number}
					</div>
					<div class="field">
						名前：${user.name}
					</div>
					<div class="field">
						イベント：${event.name}
					</div>

					<h3 class="is-size-6"><ruby>何年生<rt>なんねんせい</rt></ruby>ですか？</h3>
					<div class="field is-narrow"><ruby>学年<rt>がくねん</rt></ruby>
						<select class="select" v-model="item.grade" required>
							<option value="小1">小1</option>
							<option value="小2">小2</option>
							<option value="小3">小3</option>
							<option value="小4">小4</option>
							<option value="小5">小5</option>
							<option value="小6">小6</option>
							<option value="中1">中1</option>
							<option value="中2">中2</option>
							<option value="中3">中3</option>
							<option value="-">小中学生以外</option>
						</select>
					</div>

					<h3 class="is-size-6"><ruby>今日<rt>きょう</rt></ruby>は、<ruby>楽<rt>たの</rt></ruby>しかったですか？</h3>
					<div class="control">
						<label class="radio">
							そうでもない
						</label>
						<label class="radio">
							1<br /><input type="radio" name="q1" value="1" v-model="item.q_fun" class="radio" required>
						</label>
						<label class="radio">
							2<br /><input type="radio" name="q1" value="2" v-model="item.q_fun" class="radio">
						</label>
						<label class="radio">
							3<br /><input type="radio" name="q1" value="3" v-model="item.q_fun" class="radio">
						</label>
						<label class="radio">
							4<br /><input type="radio" name="q1" value="4" v-model="item.q_fun" class="radio">
						</label>
						<label class="radio">
							5<br /><input type="radio" name="q1" value="5" v-model="item.q_fun" class="radio">
						</label>
						<label class="radio">
							すごく<ruby>楽<rt>たの</rt></ruby>しかった
						</label>
					</div>

					<h3 class="is-size-6">いろいろ<ruby>考<rt>かんが</rt>えて、すごく<ruby>頭<rt>あたま</rt></ruby>をつかったな、と<ruby>思<rt>おも</rt></ruby>いますか？</h3>
					<div class="control">
						<label class="radio">
							そうでもない
						</label>
						<label class="radio">
							1<br /><input type="radio" name="q2" value="1" v-model="item.q_brain" class="radio" required>
						</label>
						<label class="radio">
							2<br /><input type="radio" name="q2" value="2" v-model="item.q_brain" class="radio">
						</label>
						<label class="radio">
							3<br /><input type="radio" name="q2" value="3" v-model="item.q_brain" class="radio">
						</label>
						<label class="radio">
							4<br /><input type="radio" name="q2" value="4" v-model="item.q_brain" class="radio">
						</label>
						<label class="radio">
							5<br /><input type="radio" name="q2" value="5" v-model="item.q_brain" class="radio">
						</label>
						<label class="radio">
							とてもそう<ruby>思<rt>おも</rt></ruby>う
						</label>
					</div>

					<h3 class="is-size-6"><ruby>先生<rt>せんせい</rt></ruby>の<ruby>話<rt>はなし</rt></ruby>は わかりやすかった ですか？</h3>
					<div class="control">
						<label class="radio">
							そうでもない
						</label>
						<label class="radio">
							1<br /><input type="radio" name="q3" value="1" v-model="item.q_teacher" class="radio" required>
						</label>
						<label class="radio">
							2<br /><input type="radio" name="q3" value="2" v-model="item.q_teacher" class="radio">
						</label>
						<label class="radio">
							3<br /><input type="radio" name="q3" value="3" v-model="item.q_teacher" class="radio">
						</label>
						<label class="radio">
							4<br /><input type="radio" name="q3" value="4" v-model="item.q_teacher" class="radio">
						</label>
						<label class="radio">
							5<br /><input type="radio" name="q3" value="5" v-model="item.q_teacher" class="radio">
						</label>
						<label class="radio">
							とても<ruby>良く<rt>よく</rt></ruby>わかった
						</label>
					</div>

					<h3 class="is-size-6">また、プログラミングをやりたいですか？</h3>
					<div class="control">
						<label class="radio">
							そうでもない
						</label>
						<label class="radio">
							1<br /><input type="radio" name="q4" value="1" v-model="item.q_again" class="radio" required>
						</label>
						<label class="radio">
							2<br /><input type="radio" name="q4" value="2" v-model="item.q_again" class="radio">
						</label>
						<label class="radio">
							3<br /><input type="radio" name="q4" value="3" v-model="item.q_again" class="radio">
						</label>
						<label class="radio">
							4<br /><input type="radio" name="q4" value="4" v-model="item.q_again" class="radio">
						</label>
						<label class="radio">
							5<br /><input type="radio" name="q4" value="5" v-model="item.q_again" class="radio">
						</label>
						<label class="radio">
							すっごくやりたい
						</label>
					</div>

					<div class="field">
							<label class="label">やってみて、どうでしたか？<ruby>思<rt>おも</rt></ruby>ったことを<ruby>何<rt>なん</rt></ruby>でもかいてください。</label>
								<textarea class="textarea" v-model="item.memo"></textarea>
					</div>

					<div class="field is-horizontal">
						<div class="field-label is-normal">
						</div>
						<div class="field-body">
							<div class="field">
								<div class="control">
									<input class="button is-primary" type="submit" value="とうろく">
								</div>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div>
	</article>
	</div>

	<script>window.Promise || document.write('<script src="//www.promisejs.org/polyfills/promise-7.0.4.min.js"><\/script>');</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/ui/js/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>
const app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		newusers:[{}],
		mailDone: false,
		errormsg: "",
		item: {},
		user: {},
		event:{},
	},
	mounted: function() {
		this.whoami();
				// Query文字列を見る
		var v = restapi.getUrlVars();
		var id  = v && v.id ? v.id : null;
		this.getEvent(id);
		this.getItem(id);
	},
	methods: {
		// イベント情報
		getEvent: function(id) {
			var that = this;
			restapi.get("event/"+id).then(function(response) {
				that.event = response.data;
			});
		},
		// 自分の情報
		whoami: function() {
			var that = this;
			restapi.get("user/whoami/").then(function(response) {
				that.user = response.data;
			}).catch(function(err){
				that.user = {};
			});
		},
		// サーベイ
		getItem: function(id) {
			var that = this;
			this.item = {};
			console.log("students01/"+id);
			restapi.get("students01/"+id).then(function(response) {
				that.item = response.data;
				console.log("get", this.item);
			}).catch(function(err){
				that.item = {};
				console.log("err", this.item);
			});
		},
		// 登録して次へ
		submitItem: function () {
			var item = this.item;
			item.groupId = this.event._id;
			console.log(item);
			if (this.user._id) {
				restapi.post("students01/", item);
			} else {
				restapi.post("students01/public", item);
			}
			location.href = "{{{nexturl}}}";
		},
	}
})
	</script>
</body>
</html>
