<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Jcode Educational</title>
		<link rel="stylesheet" href="/jcode/split-pane/split-pane.css" />
		<link rel="stylesheet" href="/jcode/split-pane/pretty-split-pane.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="/jcode/split-pane/split-pane.js"></script>
		<script src="https://use.fontawesome.com/3d297e537a.js"></script>		
		
		<link rel="stylesheet" href="/jcode/style.css">
		<script src="/jcode/storage.js"></script>
		<script src="/blockly/blockly_compressed.js"></script>
		<script src="/blockly/blocks_compressed.js"></script>
		<script src="/blockly/javascript_compressed.js"></script>
		<script src="/blockly/python_compressed.js"></script>
		<script src="/blockly/php_compressed.js"></script>
		<script src="/blockly/lua_compressed.js"></script>
		<script src="/blockly/dart_compressed.js"></script>

		<script src="/three/build/three.js"></script>
		<script src="/three/examples/js/controls/OrbitControls.js"></script>

		<script src="/jcode/jcode-lib/TextBoardObject.js"></script>
		<script src="/jcode/code.js"></script>
		<script src="/jcode/jcode.js"></script>
		<script src="/jcode/jcode-lib/obj.js"></script>
		<script src="/jcode/jcode-lib/instructions.js"></script>
	  
		<style type="text/css">

			html, body {
				height: 100%;
				min-height: 100%;
				margin: 0;
				padding: 0;
			}

			#top-component {
				bottom: 60%;
				margin-bottom: 10px;
				min-height: 10em;
			}

			#my-divider {
				bottom: 60%;
				height: 5px;
			}

			#bottom-component {
				height: 60%;
				min-height: 5em;
			}

		</style>

		<script>
			$(function() {
				$('div.split-pane').splitPane();
			});
		</script>
	</head>
	<body>
		<table class="title" width="100%">
			<tr>
			  <td>
					<h1><a href="http://J-CODE.ORG"><span id="title">title</span></a>
					</h1>
			  </td>
			  <td class="farSide">
						<select id="languageMenu"></select>
				</td>
			</tr>
		</table>
		<div class="pretty-split-pane-frame"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
			<div class="split-pane horizontal-percent">
				<div class="split-pane-component" id="top-component">
					<div class="pretty-split-pane-component-inner"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->

					<table>
						<tr>

							<td>
								<div id="WebGL-output">
								</div>
								<div id="WebGL-ui">
										<div id="vr-button"></div>
										<a id="magic-window" href="#" class="balloon" style="display: none">>
											はじめ
										</a>
								</div>

							</td>
							<td>
								<div id="JCODE-instruction" width="100%">
                    こんにちは、プログラミング<ruby>教育研究所<rp>(</rp><rt>きょういくけんきゅうじょ</rt><rp>)</rp></ruby>にようこそ。<br />
                    このページには、何もないから、はじめての人は、<a href="/home">ここを開いてくださいね。</a>
								</div>
							</td>
						</tr>
						<tr>
								<td align="center">
										<div class="controls">
											<button><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
											<button><i class="fa fa-stop" aria-hidden="true"></i></button>
											<button><i class="fa fa-pause" aria-hidden="true"></i></button>
											<button id="runButton" ><i class="fa fa-play" aria-hidden="true"></i></button>
											<button><i class="fa fa-forward" aria-hidden="true"></i></button>
											<button><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
										</div>
							</td>
						</tr>
					</table>
				

					</div>
				</div>　
				<div class="split-pane-divider" id="my-divider"></div>
				<div class="split-pane-component" id="bottom-component">
					<div class="pretty-split-pane-component-inner"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->

						<table width="100%" id='content_panel'>
							<tr id="tabRow" height="1em">
							  <td id="tab_blocks" class="tabon">...</td>
							  <td class="tabmin">&nbsp;</td>
							  <td id="tab_javascript" class="taboff">JavaScript</td>
							  <td class="tabmin">&nbsp;</td>
							  <td id="tab_xml" class="taboff">XML</td>
							  <td class="tabmax">
								<button id="trashButton" class="notext" title="...">
								  <img src='/blockly/media/1x1.gif' class="trash icon21">
								</button>
								<button id="linkButton" class="notext" title="...">
								  <img src='/blockly/media/1x1.gif' class="link icon21">
								</button>

							  </td>
							</tr>
						</table>
					  <div id="content_area">

					  </div>
					</div>
				</div>
			</div>
		</div>

<script>
window.addEventListener("load", function(event) {
  console.log("Start instruction!");
  JCODE.runInstServer("test1.js");
});
</script>

    <div id="content_blocks" class="content"></div>
		<pre id="content_javascript" class="content"></pre>
		<pre id="content_python" class="content"></pre>
		<pre id="content_php" class="content"></pre>
		<pre id="content_lua" class="content"></pre>
		<pre id="content_dart" class="content"></pre>
		<textarea id="content_xml" class="content" wrap="off"></textarea>
		<xml id="toolbox" style="display: none">
			<category name="%{BKY_CATLOGIC}" colour="%{BKY_LOGIC_HUE}">
			  <block type="controls_if"></block>
			  <block type="logic_compare"></block>
			  <block type="logic_operation"></block>
			  <block type="logic_negate"></block>
			  <block type="logic_boolean"></block>
			  <block type="logic_null"></block>
			  <block type="logic_ternary"></block>
			</category>
			<category name="%{BKY_CATLOOPS}" colour="%{BKY_LOOPS_HUE}">
			  <block type="controls_repeat_ext">
				<value name="TIMES">
				  <shadow type="math_number">
					<field name="NUM">10</field>
				  </shadow>
				</value>
			  </block>
			  <block type="controls_whileUntil"></block>
			  <block type="controls_for">
				<value name="FROM">
				  <shadow type="math_number">
					<field name="NUM">1</field>
				  </shadow>
				</value>
				<value name="TO">
				  <shadow type="math_number">
					<field name="NUM">10</field>
				  </shadow>
				</value>
				<value name="BY">
				  <shadow type="math_number">
					<field name="NUM">1</field>
				  </shadow>
				</value>
			  </block>
			  <block type="controls_forEach"></block>
			  <block type="controls_flow_statements"></block>
			</category>
			<category name="%{BKY_CATMATH}" colour="%{BKY_MATH_HUE}">
			  <block type="math_number"></block>
			  <block type="math_arithmetic">
				<value name="A">
				  <shadow type="math_number">
					<field name="NUM">1</field>
				  </shadow>
				</value>
				<value name="B">
				  <shadow type="math_number">
					<field name="NUM">1</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_single">
				<value name="NUM">
				  <shadow type="math_number">
					<field name="NUM">9</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_trig">
				<value name="NUM">
				  <shadow type="math_number">
					<field name="NUM">45</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_constant"></block>
			  <block type="math_number_property">
				<value name="NUMBER_TO_CHECK">
				  <shadow type="math_number">
					<field name="NUM">0</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_round">
				<value name="NUM">
				  <shadow type="math_number">
					<field name="NUM">3.1</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_on_list"></block>
			  <block type="math_modulo">
				<value name="DIVIDEND">
				  <shadow type="math_number">
					<field name="NUM">64</field>
				  </shadow>
				</value>
				<value name="DIVISOR">
				  <shadow type="math_number">
					<field name="NUM">10</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_constrain">
				<value name="VALUE">
				  <shadow type="math_number">
					<field name="NUM">50</field>
				  </shadow>
				</value>
				<value name="LOW">
				  <shadow type="math_number">
					<field name="NUM">1</field>
				  </shadow>
				</value>
				<value name="HIGH">
				  <shadow type="math_number">
					<field name="NUM">100</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_random_int">
				<value name="FROM">
				  <shadow type="math_number">
					<field name="NUM">1</field>
				  </shadow>
				</value>
				<value name="TO">
				  <shadow type="math_number">
					<field name="NUM">100</field>
				  </shadow>
				</value>
			  </block>
			  <block type="math_random_float"></block>
			</category>
			<category name="%{BKY_CATTEXT}" colour="%{BKY_TEXTS_HUE}">
			  <block type="text"></block>
			  <block type="text_join"></block>
			  <block type="text_append">
				<value name="TEXT">
				  <shadow type="text"></shadow>
				</value>
			  </block>
			  <block type="text_length">
				<value name="VALUE">
				  <shadow type="text">
					<field name="TEXT">abc</field>
				  </shadow>
				</value>
			  </block>
			  <block type="text_isEmpty">
				<value name="VALUE">
				  <shadow type="text">
					<field name="TEXT"></field>
				  </shadow>
				</value>
			  </block>
			  <block type="text_indexOf">
				<value name="VALUE">
				  <block type="variables_get">
					<field name="VAR">{textVariable}</field>
				  </block>
				</value>
				<value name="FIND">
				  <shadow type="text">
					<field name="TEXT">abc</field>
				  </shadow>
				</value>
			  </block>
			  <block type="text_charAt">
				<value name="VALUE">
				  <block type="variables_get">
					<field name="VAR">{textVariable}</field>
				  </block>
				</value>
			  </block>
			  <block type="text_getSubstring">
				<value name="STRING">
				  <block type="variables_get">
					<field name="VAR">{textVariable}</field>
				  </block>
				</value>
			  </block>
			  <block type="text_changeCase">
				<value name="TEXT">
				  <shadow type="text">
					<field name="TEXT">abc</field>
				  </shadow>
				</value>
			  </block>
			  <block type="text_trim">
				<value name="TEXT">
				  <shadow type="text">
					<field name="TEXT">abc</field>
				  </shadow>
				</value>
			  </block>
			  <block type="text_print">
				<value name="TEXT">
				  <shadow type="text">
					<field name="TEXT">abc</field>
				  </shadow>
				</value>
			  </block>
			  <block type="text_prompt_ext">
				<value name="TEXT">
				  <shadow type="text">
					<field name="TEXT">abc</field>
				  </shadow>
				</value>
			  </block>
			</category>
			<category name="%{BKY_CATLISTS}" colour="%{BKY_LISTS_HUE}">
			  <block type="lists_create_with">
				<mutation items="0"></mutation>
			  </block>
			  <block type="lists_create_with"></block>
			  <block type="lists_repeat">
				<value name="NUM">
				  <shadow type="math_number">
					<field name="NUM">5</field>
				  </shadow>
				</value>
			  </block>
			  <block type="lists_length"></block>
			  <block type="lists_isEmpty"></block>
			  <block type="lists_indexOf">
				<value name="VALUE">
				  <block type="variables_get">
					<field name="VAR">{listVariable}</field>
				  </block>
				</value>
			  </block>
			  <block type="lists_getIndex">
				<value name="VALUE">
				  <block type="variables_get">
					<field name="VAR">{listVariable}</field>
				  </block>
				</value>
			  </block>
			  <block type="lists_setIndex">
				<value name="LIST">
				  <block type="variables_get">
					<field name="VAR">{listVariable}</field>
				  </block>
				</value>
			  </block>
			  <block type="lists_getSublist">
				<value name="LIST">
				  <block type="variables_get">
					<field name="VAR">{listVariable}</field>
				  </block>
				</value>
			  </block>
			  <block type="lists_split">
				<value name="DELIM">
				  <shadow type="text">
					<field name="TEXT">,</field>
				  </shadow>
				</value>
			  </block>
			  <block type="lists_sort"></block>
			</category>
			<category name="%{BKY_CATCOLOUR}" colour="%{BKY_COLOUR_HUE}">
			  <block type="colour_picker"></block>
			  <block type="colour_random"></block>
			  <block type="colour_rgb">
				<value name="RED">
				  <shadow type="math_number">
					<field name="NUM">100</field>
				  </shadow>
				</value>
				<value name="GREEN">
				  <shadow type="math_number">
					<field name="NUM">50</field>
				  </shadow>
				</value>
				<value name="BLUE">
				  <shadow type="math_number">
					<field name="NUM">0</field>
				  </shadow>
				</value>
			  </block>
			  <block type="colour_blend">
				<value name="COLOUR1">
				  <shadow type="colour_picker">
					<field name="COLOUR">#ff0000</field>
				  </shadow>
				</value>
				<value name="COLOUR2">
				  <shadow type="colour_picker">
					<field name="COLOUR">#3333ff</field>
				  </shadow>
				</value>
				<value name="RATIO">
				  <shadow type="math_number">
					<field name="NUM">0.5</field>
				  </shadow>
				</value>
			  </block>
			</category>
			<sep></sep>
			<category name="%{BKY_CATVARIABLES}" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE"></category>
			<category name="%{BKY_CATFUNCTIONS}" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"></category>

			<category name="オブジェクト" colour="%{BKY_COLOUR_HUE}" custom="JCODE_OBJECT"></category>>
			<category name="インストラクション" colour="%{BKY_COLOUR_HUE}" custom="JCODE_INSTRUCTION"></category>>
		</xml>
		

	</body>
</html>
