<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>Jcode Educational</title>
		<link rel="stylesheet" href="/jcode/split-pane/split-pane.css" />
		<link rel="stylesheet" href="/jcode/split-pane/pretty-split-pane.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="/jcode/split-pane/split-pane.js"></script>
		<script src="https://use.fontawesome.com/3d297e537a.js"></script>		
		
		<link rel="stylesheet" href="/jcode/style.css">
		<script src="/jcode/storage.js"></script>
		<script src="/blockly/blockly_compressed.js"></script>
		<script src="/blockly/blocks_compressed.js"></script>
		<script src="/blockly/javascript_compressed.js"></script>

		<script src="/three/build/three.js"></script>
		<script src="/three/examples/js/controls/OrbitControls.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>

		<script src="/jcode/jcode-lib/TextBoardObject.js"></script>
		<script src="/jcode/code.js"></script>
		<script src="/jcode/jcode.js"></script>
		<script src="/jcode/jcode-lib/obj.js"></script>
		<script src="/jcode/jcode-lib/three.js"></script>
		<script src="/jcode/jcode-lib/instructions.js"></script>
	  
		<style type="text/css">

			html, body {
				height: 100%;
				min-height: 100%;
				margin: 0;
				padding: 0;
			}

			#top-component {
				bottom: 60%;
				margin-bottom: 10px;
				min-height: 10em;
			}

			#my-divider {
				bottom: 60%;
				height: 5px;
			}

			#bottom-component {
				height: 60%;
				min-height: 5em;
			}

		</style>

		<script>
			$(function() {
				$('div.split-pane').splitPane();
			});
		</script>
	</head>
	<body>
		<table class="title" width="100%">
			<tr>
			  <td>
					<h1><a href="http://J-CODE.ORG"><span id="title">title</span></a>
					</h1>
			  </td>
			  <td class="farSide">
						<select id="languageMenu"></select>
				</td>
			</tr>
		</table>
		<div class="pretty-split-pane-frame"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->
			<div class="split-pane horizontal-percent">
				<div class="split-pane-component" id="top-component">
					<div class="pretty-split-pane-component-inner"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->

					<table>
						<tr>

							<td>
								<div id="WebGL-output">
								</div>
								<div id="WebGL-ui">
										<div id="vr-button"></div>
										<a id="magic-window" href="#" class="balloon" style="display: none">>
											はじめ
										</a>
								</div>

							</td>
							<td>
								<div id="JCODE-instruction" width="100%">
                    こんにちは、プログラミング<ruby>教育研究所<rp>(</rp><rt>きょういくけんきゅうじょ</rt><rp>)</rp></ruby>にようこそ。<br />
                    このページには、何もないから、はじめての人は、<a href="/home">ここを開いてくださいね。</a>
								</div>
							</td>
						</tr>
						<tr>
								<td align="center">
										<div class="controls">
											<button><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
											<button><i class="fa fa-stop" aria-hidden="true"></i></button>
											<button><i class="fa fa-pause" aria-hidden="true"></i></button>
											<button id="runButton" ><i class="fa fa-play" aria-hidden="true"></i></button>
											<button><i class="fa fa-forward" aria-hidden="true"></i></button>
											<button><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
										</div>
							</td>
						</tr>
					</table>
				

					</div>
				</div>　
				<div class="split-pane-divider" id="my-divider"></div>
				<div class="split-pane-component" id="bottom-component">
					<div class="pretty-split-pane-component-inner"><!-- This div is added for styling purposes only. It's not part of the split-pane plugin. -->

						<table width="100%" id='content_panel'>
							<tr id="tabRow" height="1em">
							  <td id="tab_blocks" class="tabon" style="min-width:8em;">...</td>
							  <td class="tabmin">&nbsp;</td>
							  <td id="tab_javascript" class="taboff">JavaScript</td>
							  <td class="tabmin">&nbsp;</td>
							  <td id="tab_xml" class="taboff">XML</td>
							  <td class="tabmax">
								<button id="trashButton" class="notext" title="...">
								  <img src='/blockly/media/1x1.gif' class="trash icon21">
								</button>
								<button id="linkButton" class="notext" title="...">
								  <img src='/blockly/media/1x1.gif' class="link icon21">
								</button>

							  </td>
							</tr>
						</table>
					  <div id="content_area">
					  </div>
					  <div id="blocklyDiv">
							</div>
						</div>
				</div>
			</div>
		</div>

<script>
window.addEventListener("load", function(event) {
  console.log("Start User instruction!");
	var hostUrl = "/home/start.js";
	$.ajax({
			url: hostUrl,
			type:'GET',
			timeout:10000,
	}).done(function(js) {
		// start instruction
		JCODE.runScript(js);
	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		alert("読み込みに失敗しました。");
	});
});	

/*
window.addEventListener("load", function(event) {
  console.log("Start User instruction!");
	var filename = "{{filename}}.json";
	var hostUrl = "/editor/getJsonByName/"+filename;
	$.ajax({
			url: hostUrl,
			type:'GET',
			timeout:10000,
	}).done(function(jsonData) {

		// start instruction
		JCODE.runScript(jsonData.start_js);
		// setup Toolbox
		Code.initBlockly(jsonData.toolbox_xml);

	}).fail(function(XMLHttpRequest, textStatus, errorThrown) {
		alert("読み込みに失敗しました。");
})
*/


/*
	JCODE.runInstServer("{{scriptName}}");

	var toolbox = '<xml>';
  toolbox += '  <block type="controls_if"></block>';
  toolbox += '  <block type="controls_whileUntil"></block>';
  toolbox += '</xml>';

// Inject Blockly and Construct the toolbox XML.
  var toolboxText = document.getElementById('toolbox').outerHTML;
  Code.initBlockly(toolboxText);
*/

</script>

<div id="content_blocks" class="content"></div>
<pre id="content_javascript" class="content"></pre>
<pre id="content_python" class="content"></pre>
<pre id="content_php" class="content"></pre>
<pre id="content_lua" class="content"></pre>
<pre id="content_dart" class="content"></pre>
<textarea id="content_xml" class="content" wrap="off"></textarea>

<xml id="toolbox" style="display: none">
	<category name="オブジェクト" colour="%{BKY_COLOUR_HUE}" custom="JCODE_OBJECT"></category>>
	<category name="インストラクション" colour="%{BKY_COLOUR_HUE}" custom="JCODE_INSTRUCTION"></category>>
</xml>


</body>
</html>
