<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
	<div id="app">

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">
					<template v-if="user.name">
						こんにちは、{{user.name}} さん。プログラミング教育研究所へようこそ。{{user.mainrole}}
						 <input class="button is-primary" v-on:click.prevent="adminSinout()" value="サインアウト">  <br />

					<input type="checkbox" id="checkbox" v-model="adminUi">管理者画面<br />

					※{{user.name}} さんでは無い場合は、<a v-bind:href="nexturl">サインインし直し</a>てください。
					</template>
					<template v-else>
						このページは、会員専用です。
						<a v-bind:href="nexturl">サインインして</a>から、表示するひつようがあります。
					</template>
					<p id="errormsg">
					</p>
				</div>
			</div>
		</div>

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<article class="message is-primary">
						<div class="content">
							<div class="message-header">

								<select v-model="selected" @change="get_items">
									<option value="doc" selected>すべて</option>
									<option value="event">イベント</option>
									<option value="user">ユーザー情報</option>
									<option value="join">参加申込</option>
								</select>
								<span>{{selected}}-{{showing}}</span>

							  	<input class="button is-primary" v-on:click.prevent="createEvent" value="新イベント">
							  	<input class="button is-primary" v-on:click.prevent="create_item" value="新規作成">

							</div>

							<div class="message-body">
								<table class="table is-striped">
									<tbody>
										<tr v-for="item in items" v-on:click.prevent="edit_item(item)">
											<td>
											<span v-html="local[item.__t]"></span>
											</td>
											<td>
												{{item.name}}
											</td>
											<td v-if="adminUi">
												<button class="button" v-on:click.prevent="delete_item(item)"><i class="far fa-trash-alt"></i></button>
												<button class="button" v-on:click.prevent="adminSinin(item.email)"><i class="fas fa-sign-in-alt"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child box">

					<template v-if="showing === 'user' && !adminUi">
						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									ユーザー情報
								</div>
								<div class="message-body">
									<form v-on:submit.prevent="submitItem">

										<div class="field">
											会員番号：{{item.number}}
										</div>

										<div class="field">
											メール：{{item.email}}
										</div>

										<div class="field is-horizontal">
											<div class="field-label is-small">
												<label class="label">ニックネーム</label>
											</div>
											<div class="field-body">
												<div class="field is-narrow">
													<input v-model="item.name" class="input" type="text" required>
												</div>
											</div>
										</div>

										<div class="field is-horizontal">
											<div class="field-label is-normal">
												<label class="label">主な役割</label>
											</div>
											<div class="field-body">
												<div class="field is-narrow">
													<select class="select" v-model="item.mainrole" required>
														<option value="PARENT">保護者</option>
														<option value="STAFF">ボランティア・スタッフ</option>
														<option value="STUDENT">生徒</option>
													</select>
												</div>
											</div>
										</div>

										<div class="field is-horizontal">
											<div class="field-label is-normal">
												<label class="label">ふりがな</label>
											</div>
											<div class="field-body">
												<div class="field is-narrow">
													<input v-model="item.furigana" class="input" type="text" required>
												</div>
											</div>
										</div>

										<div class="field is-horizontal">
											<div class="field-label is-normal">
												<label class="label">名前</label>
											</div>
											<div class="field-body">
												<div class="field is-narrow">
													<input v-model="item.fullname" class="input" type="text" required>
												</div>
											</div>
										</div>

										<div class="field is-horizontal">
											<div class="field-label is-normal">
												<label class="label">学年</label>
											</div>
											<div class="field-body">
												<div class="field is-narrow">
													<select class="select" v-model="item.grade" required>
														<option value="小1">小1</option>
														<option value="小2">小2</option>
														<option value="小3">小3</option>
														<option value="小4">小4</option>
														<option value="小5">小5</option>
														<option value="小6">小6</option>
														<option value="中1">中1</option>
														<option value="中2">中2</option>
														<option value="中3">中3</option>
														<option value="-">小中学生以外</option>
													</select>
												</div>
											</div>
										</div>

										<template v-if="item.mainrole === 'STAFF'">

											<p class="help">※ボランティア・スタッフの方は、住所をご記入ください。</p>

											<div class="field is-horizontal">
												<div class="field-label is-normal">
													<label class="label">郵便番号</label>
												</div>
												<div class="field-body">
													<div class="field is-narrow">
														<input v-model="item.zipcode" class="input" type="text" required>
													</div>
												</div>
											</div>

											<div class="field is-horizontal">
												<div class="field-label is-normal">
													<label class="label">住所1</label>
												</div>
												<div class="field-body">
													<div class="field is-expanded">
														<input v-model="item.address1" class="input" type="text" required>
													</div>
												</div>
											</div>

											<div class="field is-horizontal">
												<div class="field-label is-normal">
													<label class="label">住所2</label>
												</div>
												<div class="field-body">
													<div class="field is-expanded">
														<input v-model="item.address2" class="input" type="text">
													</div>
												</div>
											</div>

											<div class="field is-horizontal">
												<div class="field-label is-normal">
													<label class="label">電話番号</label>
												</div>
												<div class="field-body">
													<div class="field is-narrow">
														<input v-model="item.tel" class="input" type="text" required>
													</div>
												</div>
											</div>

											<div class="field">

													<div class="field is-nomail">
														<input v-model="item.hadInsurance" class="checkbox" type="checkbox">他の<b>ボランティア保険</b>に加入済み<br />
													</div>

											</div>
											<p class="help">（他で加入済みなどで、今回新たにボランティア保険加入の<b>必要が無い方</b>はチェックしてください）</p>
										</template>

										<div class="field is-horizontal">
											<div class="field-label is-normal">
											</div>
											<div class="field-body">
												<div class="field">
													<div class="control">
														<input class="button is-primary" type="submit" value="更新">
													</div>
												</div>
											</div>
										</div>

										<button class="button is-warning" v-on:click.prevent="openPasswordDlg()">パスワード変更</button>
									</form>

								</div>
							</div>
						</article>
					</template>

					<template v-else-if="showing === 'event' && !adminUi">
						<div>
							<article class="message is-primary">
								<div class="content">
									<div class="message-header">
										教室・イベント
									</div>
									<div class="message-body">
										ID： {{item._id}}<br />
										名称： {{item.name}}<br />
										日付： {{item.startDate}}<br />
										時間： {{item.startTime}}～{{item.endTime}}<br />
										場所： {{item.place}}<br />
										説明： {{item.description}}<br />
									</div>

									<form v-on:submit.prevent="submitEvent(item)">
										<label class="label">名称</label>
										<input v-model="item.name" class="input" type="text">

										<label class="label">開始</label>
										<input v-model="item.startDatetime" class="input" type="text">

										<label class="label">終了</label>
										<input v-model="item.endDatetime" class="input" type="text">

										<label class="label">場所</label>
										<input v-model="item.place" class="input" type="text">

										<label class="label">説明</label>
										<input v-model="item.description" class="input" type="text">

										<input class="button is-primary" type="submit" value="更新">

									</form>

								</div>
							</article>
						</div>

					</template>

					<template v-else>
						<form v-on:submit.prevent="submitItem">
							<article class="message is-primary">
								<div class="content">
									<div class="message-header">
										編集
									</div>
									<div class="message-body">

										<template v-for="(value, key) in item">
											<div class="field">
												<label class="label">{{ local[key] || key }}</label>
												<input v-model="item[key]" class="input" type="text">
											</div>
										</template>

									<div class="field is-grouped">
								  	<div class="control has-text-right">
									  	<input class="button is-primary" type="submit" value="更新">
									  </div>
									</div>

									</div>
								</div>
							</article>
						</form>
					</template>

				</div>
			</div>
		</div>

		<template v-if="pwdDialog">
			<div class="modal is-active" id="password">
			  <div class="modal-background"></div>
			  <div class="modal-content">

					<form v-on:submit.prevent="changepass_child(item)">
						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									パスワードを変更する
								</div>
								<div class="message-body">

									<div class="field">
										<label class="label">パスワード</label>
										<input v-model="item.password" class="input" type="password" required pattern="[!-~]{3,}">
									</div>

									<div class="field">
								  	<div class="control">
									  	<input class="button is-primary" value="パスワード変更" type="submit">
									  </div>
									</div>

								</div>
							</div>
						</article>
					</form>
			  </div>
			  <button class="modal-close is-large" aria-label="close" v-on:click.prevent="closePasswordDlg()"></button>
			</div>
		</template>

		<template v-if="signinDialog">
			<div class="modal is-active">
			  <div class="modal-background"></div>
			  <div class="modal-content">

					<form v-on:submit.prevent="signin(item)">
						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									会員サイトにサインイン
								</div>
								<div class="message-body">

									<div class="field">
									  <label class="label">メールアドレス</label>
									  <div class="control has-icons-left">
											<input v-model="item.email" class="input" type="email" required  placeholder="someone@j-code.org">
											<span class="icon is-small is-left">
												<i class="fas fa-envelope"></i>
											</span>
									  </div>
									</div>

									<div class="field">
										<label class="label">パスワード</label>
										<input v-model="item.password" class="input" type="password" required pattern="[!-~]{3,}">
									</div>

<p>パスワードを忘れた場合は、<a v-bind:href="nexturl">ここをクリックして</a>ください。</p>

									<div class="field">
								  	<div class="control">
									  	<input class="button is-primary" value="サインイン" type="submit">
									  </div>
									</div>

								</div>
							</div>
						</article>
					</form>
			  </div>
			  <button class="modal-close is-large" aria-label="close" v-on:click.prevent="closePasswordDlg()"></button>
			</div>
		</template>

	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script src="admin.js"></script>

</body>
</html>
