<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
	<div id="app">

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<article class="message is-primary">
						<div class="content">
							<div class="message-header">

								<select v-model="selected" @change="get_items">
									<option value="doc" selected>すべて</option>
									<option value="event">イベント</option>
									<option value="user">ユーザー情報</option>
									<option value="join">参加申込</option>
								</select>
						  	<input class="button is-primary" v-on:click.prevent="createEvent" value="新規イベント">
						  	<input class="button is-primary" v-on:click.prevent="create_item" value="新規コピー">
							</div>

							<div class="message-body">
								<table class="table is-striped">
									<tbody>
										<tr>
											<th>
											〇
											</th>
											<th>
												日付
											</th>
											<th>
												名称
											</th>
											<th>
												アクション
											</th>
										</tr>

										<tr v-for="item in items">
											<td>
											<span v-html="local[item.__t]"></span>
											</td>
											<td>
												${localDatetime(item.startDatetime)}
											</td>
											<td  v-on:click.prevent="edit_item(item._id)">
												${item.name}
											</td>
											<td v-if="adminUi">
												<button class="button is-danger" v-on:click.prevent="delete_item(item)"><i class="far fa-trash-alt"></i>削除</button><br />
												<a v-bind:href="'../class/admin.html?id=' + item._id"><i class="fas fa-sign-in-alt"></i>管理画面</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child box">

						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									教室・イベント
								</div>
								<template v-if="!waiting">
									<div class="message-body">
										ID： ${item._id}<br />
										名称： ${item.name}<br />
										日付： ${item.startDate}<br />
										時間： ${item.startTime}～${item.endTime}<br />
										場所： ${item.place}<br />
										説明： ${item.description}<br />
									</div>
								</template>

								<form v-on:submit.prevent="submitEvent(item)">
									<label class="label">名称</label>
									<input v-model="item.name" class="input" type="text">

									<label class="label">開始</label>
									<input v-model="item.startDatetime" class="input" type="text">

									<label class="label">終了</label>
									<input v-model="item.endDatetime" class="input" type="text">

									<label class="label">場所</label>
									<input v-model="item.place" class="input" type="text">

									<label class="label">説明</label>
									<textarea class="textarea" v-model="item.description"></textarea>

								<select v-model="item.mainrole">
									<option value="STAFF">STAFF</option>
									<option value="STUDENT">STUDENT</option>
								</select>

									<label class="label">何日前に締切</label>
									<input v-model="item.studentBefore" class="input" type="Number">
									<label class="label">定員</label>
									<input v-model="item.studentMax" class="input" type="Number">
									<label class="label">申込数</label>
									<input v-model="item.studentApplicant" class="input" type="Number">

									<input v-model="item.studentPublic" class="checkbox" type="checkbox">公開イベント

									<input class="button is-primary" type="submit" value="更新">

								</form>
							</div>
						</article>

							申込総数：${joins.length}<br />

<button click v-on:click.prevent="copy()">コピー</button>

							<table class="table is-striped">
								<tbody>
									<tr>
										<th>参加者</th>
										<th>ステータス</th>
										<th>アクション</th>
									</tr>
									<tr v-for="join in joins">
										<td>
										<input v-model="join.check" class="checkbox" type="checkbox">
										${join.name}</td>
										<td>${join.status}<td>
											${join.memberId.fullname}
											${join.memberId.grade}
											${join.memberId.mainrole}
													<button click v-on:click.prevent="leave(join)">取消</button>
										</td>
									</tr>
								</tbody>
							</table>

				</div>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>
	
	
	"use strict";

const showerror = function(error) {
	console.log("error:",error);
	console.log("error:",error.response.data);
	document.getElementById("errormsg").innerHTML = error.response.data;
}

const app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		selected:'event',
		items: [],
		_id: "",
		item:{},
		users:[],
		user:{},
		joins: [],
		nexturl: "",
		local: restapi.local,
		adminUi: true,
		pwdDialog: false,
		signinDialog: false,
		joins: [], //参加者一覧
		waiting: false,
	},
	mounted: function() {
		this.whoami();
		this.redrawAll();
	},
	methods: {
		// すべて書き直し
		redrawAll: function() {
			//this.getUsers();
			this.get_items();
		},
		// 参加申込
		attend: function(user) {
			var event = this.item;
			//console.log("ATTEND:", event);
			//console.log(user);
			restapi.post("join/", {
				name: user.fullname + ' ' + restapi.getShortDate(event.startDatetime),
				memberId: user._id,
				groupId: event._id }).then((response) => {
					console.log("Join:", response);
					this.get_items(); // 一覧表示
					this.redrawItem();
			}).catch(function(err){
				showerror(err);
			});
		},
		// 参加キャンセル
		leave: function(join) {
			restapi.delete("join/"+join._id).then((response) => {
				console.log("leave:", response);
				this.get_items(); // 一覧表示
				this.redrawItem();
			}).catch(function(err){
				console.log("leave err:", err);
				showerror(err);
				this.redrawItem();
			});
		},
		// SUBMIT ボタン
		submitItem: function() {
			var item = this.item;
			console.log("submitItem !!!", item);
			if (item._id) { // 更新
				restapi.post('event/'+ item._id, item).then((response) => {
					console.log("item:", response);
					this.get_items(); // 一覧表示
				});
			} else { // 新規
				restapi.post('event/', item).then((response) => {
					console.log("item:", response);
					this.get_items(); // 一覧表示
				});
			}
		},
		// アカウント情報
		whoami: function() {
			this.nexturl = '/go/password' + location.pathname + location.search;
			console.log("SIGNIN", this.nexturl);

			var that = this;
			restapi.get("user/whoami/").then((response) => {
				that.user = response.data;
				console.log("contact:", response);
			}).catch(function(err){
				//that.user = null;
				that.user = {name: null};
				that.signinDialog = true;
				showerror(err);
			});
		},
		// ユーザー情報
		getUsers: function() {
			var that = this;
			restapi.get("user/").then((response) => {
				that.users = response.data;
				console.log("users", that.users);
			}).catch(function(err){
				that.users = [];
				showerror(err);
			});
		},
		// イベントの一覧表示
		get_items: function() {
			var that = this;
			restapi.get("event/?role=ALL&period=ALL").then((response) => {
				that.items = response.data;
				if (!this._id) {
						this._id = this.items[0]._id;
				}
				this.redrawItem();
			}).catch(function(err){
				that.items = [];
				showerror(err);
			});

		},
		localDatetime(t) {
			return restapi.localDatetime(t);
		},
		// 右画面のデータ書き直し
		redrawItem: function() {
			var item = {};
			restapi.get('event/'+ this._id).then((response) => {
				var item = response.data;
				if (item.__t === 'Event') {
					item.startDate = restapi.getDate(item.startDatetime);
					item.startTime = restapi.getTime(item.startDatetime);
					item.endTime = restapi.getTime(item.endDatetime);

					item.startDatetime = restapi.localDatetime(item.startDatetime);
					item.endDatetime = restapi.localDatetime(item.endDatetime);

					restapi.get("join/?gid="+item._id).then((response) => {
						this.item = item;
						this.joins = response.data;

					}).catch(function(err){
						thism.joins = [];
						showerror(err);
						this.item = item;
					});
				} else {
					this.item = item;
				}
				//this.getUsers();
			});
		},
		// item 編集
		edit_item: function(id) {
			this._id = id;
			this.redrawItem();
		},
		// 削除(管理者用)
		delete_item: function(item) {
			console.log("delete:", item);
			restapi.delete(this.selected + "/" + item._id).then((response) => {
				console.log("item:", response);
				this.get_items(); // 一覧表示
				this._id = null;
				this.redrawItem();
			});
		},
		// 新規作成(管理者用)
		createEvent: function() {
			this.item = {};
		},
		// イベント登録・更新
		submitEvent: function(item) {
			this.waiting = true;
			console.log("EVENT:", item);
			if (item._id) {
				restapi.post('event/'+item._id, item).then((response) => {
					this.waiting = false
					this.get_items(); // 書き直し
				}).catch(function(err){
					this.waiting = false
				})
			} else {
				restapi.post('event/', item).then((response) => {
					this.waiting = false
					this.get_items(); // 書き直し
				}).catch(function(err){
					this.waiting = false
				})
			}
		},
		// 新規作成(管理者用)
		create_item: function() {
			this.item._id = null;
		},
		// サインイン(一般用)
		signin: function(user) {
			restapi.post("user/signin", {email:user.email, password: user.password}).then((response) => {
				this.signinDialog = false;
				restapi.pushToken(response.data);
				this.redrawAll();
			});
		},
		// サインイン(管理者用)
		adminSinin: function(email, password = "") {
			restapi.post("user/signinadmin", {email:email, password: password}).then((response) => {
				restapi.pushToken(response.data);
				this.redrawAll();
			});
		},
		// サインアウト(管理者用)
		adminSinout: function() {
			restapi.popToken();
			this.redrawAll();
		},
	}
})


	</script>

</body>
</html>
