<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>
	.message {
		margin: 0.5rem;
	}
	.is-parent {
		margin: 0.5rem;
	}
	</style>
</head>
<body>
	<div id="app">



		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">
					<template v-if="user.name">
					こんにちは、{{user.name}} さん。プログラミング教育研究所へようこそ。{{user.role}}
					（{{user.name}} さんでは無い場合は、<a v-bind:href="nexturl">サインインし直し</a>てください。
					</template>
					<template v-else>
						このページは、会員専用です。
						<a v-bind:href="nexturl">サインインして</a>から、表示するひつようがあります。
					</template>
					<p id="errormsg">
					</p>
				</div>
			</div>
		</div>


		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<article class="message is-primary">
						<div class="content">
							<div class="message-header">

								<select v-model="selected" @change="get_items">
									<option value="doc" selected>すべて</option>
									<option value="event">予定</option>
									<option value="address">連絡先</option>
									<option value="user">アカウント</option>
								</select>
								<span>＜＝きりかえ 現在：{{ selected }}</span>

						  	<div class="control" v-if="user.role==='ROOT'">
							  	<input class="button is-primary" v-on:click.prevent="create_item" value="新規作成">
							  </div>
							</div>

							<div class="message-body">
								<table class="table is-striped">
									<tbody>
										<tr v-for="item in items">
											<td>
											<span v-html="local[item.__t]"></span>
											</td>
											<td v-on:click.prevent="edit_item(item)">
												{{item.name}}
											</td>
											<td v-if="user.role==='ROOT'">
												<button class="button" v-on:click.prevent="delete_item(item)"><i class="far fa-trash-alt"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</article>


				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child box">

					<component v-bind:is="selectedComponent" :item="item" :users="users" :local="local" v-on:submit_from_child="child_form_submit" v-on:changepass_2="changepass_child">
					</component>

				</div>
			</div>
		</div>

	</div>

	<script id="template-temp" type="text/x-template">
			<td>
				<label class="checkbox">
					<input v-model="item.finished" type="checkbox">
				</label>
			</td>
				<button class="button" v-on:click.prevent="edit_click22">編集2</button>
	</script>

	<script id="template-task-item" type="text/x-template">
		<tr>
			<td>
				<i class="fal fa-bullseye"></i>
			</td>
			<td>
				<button class="button" v-on:click.prevent="edit_click">{{item.name}}</button>
			</td>
			<td>
				{{item.__t}}
				<button class="button" v-on:click.prevent="delete_click"><i class="far fa-trash-alt"></i></button>
			</td>
		</tr>
	</script>

	<script id="template-home" type="text/x-template">
		<form v-on:submit.prevent="child_form_submit">
			<article class="message is-primary">
				<div class="content">
					<div class="message-header">
						編集
					</div>
					<div class="message-body">

						<template v-for="(value, key) in item">
							<div class="field">
								<label class="label">{{ local[key] || key }}</label>
								<input v-model="item[key]" class="input" type="text">
							</div>
						</template>

					<div class="field is-grouped">
				  	<div class="control has-text-right">
					  	<input class="button is-primary" type="submit" value="更新">
					  </div>
					</div>

					</div>
				</div>
			</article>
		</form>
	</script>

	<script id="template-doc" type="text/x-template">

	<div>
		<form v-on:submit.prevent="child_form_submit">
			<article class="message is-primary">
				<div class="content">
					<div class="message-header">
						ユーザー
					</div>
					<div class="message-body">

						<div class="field">
							<label class="label">名前</label>
							<input v-model="item.name" class="input" type="text" required>
						</div>

						<div class="field">
							<label class="label">タイトル</label>
							<input v-model="item.title" class="input" type="text" required>
						</div>

						<div class="field">
					  	<div class="control has-text-right">
						  	<input class="button is-primary" type="submit" value="更新">
						  </div>
						</div>

					</div>
				</div>
			</article>
		</form>

		<form v-on:submit.prevent="changepass_child">
			<article class="message is-primary">
				<div class="content">
					<div class="message-header">
						パスワード
					</div>
					<div class="message-body">

						<div class="field">
							<label class="label">パスワード</label>
							<input v-model="item.password" class="input" type="password" required pattern="[!-~]{3,}">
						</div>

						<div class="field">
					  	<div class="control has-text-right">
						  	<input class="button is-primary" type="submit" value="パスワード変更">
						  </div>
						</div>

					</div>
				</div>
			</article>
		</form>
	</div>
	</script>

	<script id="template-address" type="text/x-template">
		<form v-on:submit.prevent="child_form_submit">
			<article class="message is-primary">
				<div class="content">
					<div class="message-header">
						住所と連絡先
					</div>
					<div class="message-body">

						<div class="field">
							<label class="label">ふりがな</label>
							<input v-model="item.furigana" class="input" type="text" required>
						</div>

						<div class="field">
							<label class="label">名前</label>
							<input v-model="item.name" class="input" type="text" required>
						</div>

						<div class="field">
							<label class="label">郵便番号</label>
							<input v-model="item.zipcode" class="input" type="text" v-on:change="change_zip();">
						</div>

						<div class="field">
							<label class="label">住所1</label>
							<input v-model="item.address1" class="input" type="text" >
						</div>

						<div class="field">
							<label class="label">住所2</label>
							<input v-model="item.address2" class="input" type="text" >
						</div>

						<div class="field">
							<label class="label">電話番号</label>
							<input v-model="item.tel" class="input" type="text" >
						</div>

						<div class="field is-grouped">
					  	<div class="control has-text-right">
						  	<input class="button is-primary" type="submit" value="更新">
						  </div>
						</div>

					</div>
				</div>
			</article>
		</form>
	</script>

	<script id="template-event" type="text/x-template">
		<section>
			<div>
				<article class="message is-primary">
					<div class="content">
						<div class="message-header">
							教室・イベント
						</div>
						<div class="message-body">
							名称： {{item.name}}<br />
							日付： {{item.startDate}}<br />
							時間： {{item.startTime}}～{{item.endTime}}<br />
							場所： {{item.place}}<br />
							説明： {{item.description}}<br />

							<table class="table is-striped">
								<tbody>
									<tr>
										<th>名前</th>
										<th>タイトル</th>
										<th>アクション</th>
									</tr>
									<tr v-for="join in joins">
										<td>{{join.name}}</td>
										<td>{{join.title}}</td>
										<td>
											<button click v-on:click.prevent="attend(join)">参加</button>
										</td>
									</tr>
								</tbody>
							</table>

						</div>
					</div>
				</article>
			</div>
			<form v-on:submit.prevent="child_form_submit">
				<article class="message is-primary">
					<div class="content">
						<div class="message-header">
							参加者
						</div>
						<div class="message-body">

							<table class="table is-striped">
								<tbody>
									<tr>
										<th>名前</th>
										<th>タイトル</th>
										<th>アクション</th>
									</tr>
									<tr v-for="user in users">
										<td>{{user.name}}</td>
										<td>{{user.title}}</td>
										<td>
											<button click v-on:click.prevent="attend(user)">参加</button>
										</td>
									</tr>
								</tbody>
							</table>

							<div class="field is-grouped">
						  	<div class="control has-text-right">
							  	<input class="button is-primary" type="submit" value="更新">
							  </div>
							</div>

						</div>
					</div>
				</article>
			</form>
		</section>
	</script>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="restapi.js"></script>
	<script src="script.js"></script>

</body>
</html>
