<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>
	.message {
		margin: 0.5rem;
	}
	.is-parent {
		margin: 0.5rem;
	}
	</style>
</head>
<body>
	<div id="app">

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">
			_id: {{user._id}}, name: {{user.name}}, email: {{user.email}}, member_id: {{user.member_id}},
				</div>
			</div>
		</div>

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<form v-on:submit.prevent="form_submit">
						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									イベント参加登録
								</div>
								<div class="message-body">

{{location.href}}<br />
{{location.pathname}}<br />
{{location.search}}<br />
{{location.hash}}<br />

									<div class="field">
										<label class="label">どちらか選んで下さい</label>
										<input  type="radio" id="parent" value="SIGNUP" v-model="item.title" v-on:change="item.children = [{name:'', grade:''}];">
										<label for="parent">初めての申し込みです。（会員登録用のメールアドレスを準備して、次に進んでください）<label>
										<br>
										<input  type="radio" id="student" value="SIGNIN" v-model="item.title" v-on:change="item.children = [];">
										<label for="student">会員登録して、パスワードを知っています。<label>
										<br>
										<input  type="radio" id="student" value="RESET" v-model="item.title" v-on:change="item.children = [];">
										<label for="student">会員登録していますが、パスワードが分かりません。<label>
										<br>
									</div>

									<div class="field">
									  <label class="label">メール</label>
									  <div class="control has-icons-left">
											<input v-model="item.email" class="input" type="email" required  placeholder="someone@j-code.org">
											<span class="icon is-small is-left">
												<i class="fas fa-envelope"></i>
											</span>
									  </div>
									</div>

									<div class="field is-grouped">
								  	<div class="control has-text-right">
									  	<input class="button is-primary" type="submit" value="次へ">
									  </div>
									</div>

								</div>
							</div>
						</article>
					</form>

				</div>
			</div>
		</div>

	</div>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script.js"></script>
</body>
</html>
