<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>プログラミング教育研究所</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>
	.button {
		margin: 0.5rem;
	}
	</style>
</head>
<body>
	<div id="app">

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									教室・イベント
								</div>
								<div class="message-body">
									ID： ${event._id}<br />
									名称： ${event.name}<br />
									日付： ${event.startDate}<br />
									時間： ${event.startTime}～${event.endTime}<br />
									場所： ${event.place}<br />
									説明： ${event.description}<br />
								</div>
							</div>png
						</article>
						<div class="control">
							<label class="radio">
								joins<br /><input type="radio" name="q4" value="joins" v-model="currentModel" class="radio" v-on:change="changeModel">
							</label>
							<label class="radio">
								users<br /><input type="radio" name="q4" value="users" v-model="currentModel" class="radio" v-on:change="changeModel">
							</label>
							<label class="radio">
								surveys<br /><input type="radio" name="q4" value="surveys" v-model="currentModel" class="radio" v-on:change="changeModel">
							</label>
							<label class="radio">
								staff surveys<br /><input type="radio" name="q4" value="surveys2" v-model="currentModel" class="radio" v-on:change="changeModel">
							</label>
						</div>

						<template v-if="joins.length">
							申込総数：${joins.length}<br />
							選択数：${selectedNumber}<br />

							<p>
								チェックされたものを
								<button click v-on:click.prevent="copyJoins()">受付名簿コピー</button>
								<button click v-on:click.prevent="copyUsers()">保険加入コピー</button><br />
								<button click v-on:click.prevent="meiboCdo()">Cord.org用名簿</button><br />
								<button click v-on:click.prevent="businesscards1()">名刺1枚</button>
								<button click v-on:click.prevent="businesscards()">名刺2枚</button>
								<button click v-on:click.prevent="certificates()">賞状</button>
								<button click v-on:click.prevent="certificatesE()">空賞状</button>

								<select class="select" v-model="action">
									<option value="attend">参加者追加</option>
									<option value="password">パスワード変更</option>
									<option value="cdo">Code.org変更</option>
									<option value="insurance">ボランティア保険</option>
									<option value="microbit">マイクロビット</option>
								</select>
								<a class="button is-info" click v-on:click.prevent="getJoins(eventId)">読込し直し</a>
								<a class="button is-info" click v-on:click.prevent="getHistory()">gHistory</a>
								<br />

								<template v-if="action=='attend'">
									<a class="button is-info" v-on:click.prevent="attendMember()">メンバーを追加</a>
								</template>
								<template v-if="action=='password'">
									<a class="button is-info" v-on:click.prevent="copyPassword()">パスワードをランダムに</a>
									<a class="button is-info" v-on:click.prevent="copyPasstel()">パスワードを電話下4桁に</a>
									<a class="button is-danger" v-on:click.prevent="updatePassword()">パスワードを書きこみ更新</a>
								</template>
								<template v-if="action=='cdo'">
									<a class="button" href="/ui/class/icon-select.html" target="_blank">アイコンセレクタ</a><br />
									<a class="button is-info" v-on:click.prevent="copyCdo()">CODE.ORGセクションをコピー</a><br />
									<a class="button is-danger" v-on:click.prevent="updateCdo()">CODE.ORG情報を書きみ更新</a>
								</template>
								<template v-if="action=='insurance'">
									<a class="button is-danger" v-on:click.prevent="updateInsurance()">ボランティア保険 更新</a>
								</template>
								<template v-if="action=='microbit'">
									<a class="button is-danger" v-on:click.prevent="updateMicrobit()">マイクロビット 更新</a>
								</template>
								<br />
							</p>
							${errmsg}

							<div class="field-body">
								<div class="field is-narrow">
									<label class="label">新しい値</label>
									<input v-model="newValue" class="input" type="text">
								</div>
							</div>

							<input v-model="allCheck" class="checkbox" type="checkbox" v-on:change="changeAllCheck()">すべて

							<table class="table is-striped">
								<tbody>
									<tr>
										<th>?</th>
										<th>番号</th>
										<th>ニックネーム</th>
										<th>名前</th>
										<th>住所</th>
										<th>保険</th>

										<template v-if="action=='password'">
											<th>パスワード</th>
										</template>
										<template v-if="action=='cdo'">
											<th>CODE.ORGセクション</th>
											<th>CODE.ORG画像</th>
										</template>
										<template v-if="action=='insurance'">
											<th>他保険</th>
										</template>
										<template v-if="action=='microbit'">
											<th>マイクロビット</th>
										</template>

										<th>
										ステータス<br />
											？<select class="select" v-model="selectStatus" v-on:change="changeSelectStatus()">
												<option value="PENDING">PENDING</option>
												<option value="APPROVED">APPROVED</option>
												<option value="CANCEL">CANCEL</option>
												<option value="REJECTED">REJECTED</option>
											</select>検索<br />
											＝<select class="select" v-model="selectStatus" v-on:change="changeSetStatus()">
												<option value="PENDING">PENDING</option>
												<option value="APPROVED">APPROVED</option>
												<option value="CANCEL">CANCEL</option>
												<option value="REJECTED">REJECTED</option>
											</select>設定<br />
										</th>
										<th>役割</th>
										<th>
										回目<br />
										<input v-model="times" class="input" type="text" v-on:change="changeTimes()"><br />
										</th>
										<th>履歴</th>
									</tr>
									<tr v-for="join in joins">
									
									<td><input v-model="join.check" class="checkbox" type="checkbox"></td>
									<template v-if="join.memberId">
										<td>${join.memberId.number}</td>
										<td>${join.memberId.name}</td>
										<td><ruby>${join.memberId.fullname}<rt>${join.memberId.furigana}</rt></ruby></td>
										<td>${join.memberId.address1}</td>
										<td>${join.memberId.hadInsurance}</td>

										<template v-if="action=='password'">
											<td><input v-model="join.memberId.newpass" type="text"></td>
										</template>
										<template v-if="action=='cdo'">
											<td><input v-model="join.memberId.cdosection" type="text"></td>
											<td>
												<img v-if="join.memberId.cdopassword" v-bind:src="'../img/'+join.memberId.cdopassword" width=32 height=32></img>
												<input v-model="join.memberId.cdopassword" type="text">
											</td>
										</template>
										<template v-if="action=='insurance'">
											<td><input v-model="join.memberId.insurance2018" type="checkbox" class="checkbox" ></td>
										</template>
										<template v-if="action=='microbit'">
											<td><input v-model="join.memberId.microbitLending" type="text"></td>
										</template>
										<td>
											<select class="select" v-model="join.status">
												<option value="PENDING">PENDING</option>
												<option value="APPROVED">APPROVED</option>
												<option value="CANCEL">CANCEL</option>
												<option value="REJECTED">REJECTED</option>
											</select>
										</td>
										<td>
											${join.memberId.mainrole}
											${join.memberId.grade}
											<a class="button is-info" v-on:click.prevent="updateStatus(join)">s更新</a>
											<button class="button" v-on:click.prevent="adminSinin(join.memberId._id)">編集</button>
											<button class="button" v-on:click.prevent="adminSinin(join.ownerId)">親編集</button>
										</td>
										<td>
											${join.history.length}
										</td>
										<td>
											<template v-for="item in join.history">
												${item.name}<br />
											</template>

										</td>
									</template>
									</tr>
								</tbody>
							</table>
						</template>

						<template v-if="users.length">
							ユーザー数：${users.length}<br />
							<p>

							</p>
							<div class="field is-horizontal">
								<div class="field-label is-normal">
									<label class="label">アクション</label>
								</div>
								<div class="field-body">
									<div class="field is-narrow">
										<select class="select" v-model="action" required>
											<option value="password">パスワード変更</option>
											<option value="status">ステータス変更</option>
										</select>
									</div>
								</div>
							</div>

							<form v-on:submit.prevent="submitUsers">
								<div class="field is-horizontal">
									<div class="field-label is-normal">
										<label class="label">パスワード</label>
									</div>
									<div class="field-body">
										<div class="field is-narrow">
											<input v-model="newValue" class="input" type="text">
										</div>
									</div>
								</div>
								<div class="control">
									<input class="button is-primary" type="submit" value="更新">
								</div>
							</form>

							<input v-model="allCheck" class="checkbox" type="checkbox" v-on:change="changeUserCheck()">すべて

							<table class="table is-striped">
								<tbody>
									<tr>
										<th>番号</th>
										<th>名前</th>
										<th>email</th>
										<th>住所</th>
										<th>TEL</th>
										<th>他の保険</th>
										<th>アクション</th>
									</tr>
									<tr v-for="user in users">
										<td><input v-model="user.check" class="checkbox" type="checkbox">${user.number}</td>
										<td><ruby>${user.fullname}<rt>${user.furigana}</rt></ruby></td>
										<td>${user.email}</td>
										<td>${user.zipcode} ${user.address1}<br />${user.address2}</td>
										<td>${user.tel}</td>
										<td>${user.hadInsurance}</td>
										<td>
											<button class="button" v-on:click.prevent="adminSinin(user._id)">編集</button>

										</td>
									</tr>
								</tbody>
							</table>
						</template>

						<template v-if="surveys.length">
							アンケート回答総数：${surveys.length}<br />
							 <button click v-on:click.prevent="copySurveys()">子どもコピー</button><br />

							<table class="table is-striped">
								<tbody>
									<tr>
										<th>check</th>
										<th>名前</th>
										<th>学年</th>
										<th>たのしかった</th>
										<th>あたまつかった</th>
										<th>せんせいはわかりやすい</th>
										<th>またやりたい</th>
										<th>メモ</th>
									</tr>
									<tr v-for="survey in surveys">
										<td>
											<input v-model="survey.check" class="checkbox" type="checkbox">
											<template v-if="(survey.memberId && survey.memberId._id)">
												${survey.memberId.number}
											</template>
										</td>
										<td>
											<template v-if="(survey.memberId && survey.memberId._id)">
												<ruby>${survey.memberId.fullname}<rt>${survey.memberId.furigana}</rt></ruby>
											</template>
										</td>
										<td>${ survey.grade }</td>
										<td>${ survey.q_fun }</td>
										<td>${ survey.q_brain }</td>
										<td>${ survey.q_teacher }</td>
										<td>${ survey.q_again }</td>
										<td width=600>${ survey.memo }</td>
									</tr>
								</tbody>
							</table>
						</template>

						<template v-if="surveys2.length">
							アンケート回答総数：${surveys2.length}<br />
							 <button click v-on:click.prevent="copySurveys2()">大人コピー</button><br />

							<table class="table is-striped">
								<tbody>
									<tr>
										<th>check</th>
										<th>名前</th>
										<th>役員候補</th>
										<th>プログラミング</th>
										<th>曜日</th>
										<th>回数</th>
										<th>年齢</th>
										<th>メモ</th>
									</tr>
									<tr v-for="survey in surveys2">
										<td>
											<input v-model="survey.check" class="checkbox" type="checkbox">
											<template v-if="(survey.memberId && survey.memberId._id)">
												${survey.memberId.number}
											</template>
										</td>
										<td>
											<template v-if="(survey.memberId && survey.memberId._id)">
												<ruby>${survey.memberId.fullname}<rt>${survey.memberId.furigana}</rt></ruby>
											</template>
										</td>
										<td>${ survey.q_exec }</td>
										<td>${ survey.q_program }</td>
										<td>
										
											<label class="checkbox">
												<br /><input type="checkbox" v-model="survey.week_day" class="checkbox">平日
											</label>
											<label class="checkbox">
												<br /><input type="checkbox" v-model="survey.sat_am" class="checkbox">土曜 午前
												<br /><input type="checkbox" v-model="survey.sat_pm" class="checkbox">土曜 午後
											</label>
											<label class="checkbox">
												<br /><input type="checkbox" v-model="survey.sun_am" class="checkbox">日曜 午前
												<br /><input type="checkbox" v-model="survey.sun_pm" class="checkbox">日曜 午後
											</label>

										</td>
										<td>${ survey.q_time }</td>
										<td>${ survey.age_class }</td>
										<td width=600>${ survey.memo }</td>
									</tr>
								</tbody>
							</table>
						</template>

				</div>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>

// 電話番号の整形
function copyTel(tel) {
	if (!tel) {
		return "";
	}
	tel = tel.replace(/[━.*‐.*―.*－.*\-.*ー.*\-]/gi,'');
	tel = tel.replace(/^(03|\d{3})(\d{3,4})(\d{4})$/, '$1-$2-$3');
	return tel;
}
//csv用に文字列整形
function getCsvString(s) {
	if (!s) {
		return "";
	}
	return '"'+s+'"';
}

const app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		currentModel:"joins",
		signedin: false,
		nexturl: "",
		go_profile: "",
		users: [],
		user: {},
		events: [],
		event:{},
		joins: [],
		surveys: [],
		surveys2: [],
		allCheck: false,
		action: "",
		newValue:"",
		eventId: "",
		errmsg:"",
		selectStatus:"",
		selectedNumber: 0,
		times: "",
	},
	mounted: function() {
		this.nexturl = location.pathname + location.search;
		// Query文字列を見る
		var v = restapi.getUrlVars();
		var id  = v && v.id ? v.id : null;
		if (! id) {
			this.getEvents();
			return;
		}
		this.getEvent(id);
		this.whoami();
		this.eventId = id;
		this.changeModel();
	},
	methods: {
		// 名簿用コピー（エクセルに貼り付ける用）
		copyMeibo: function(users, cb) {
			var str = "";
			for (let user of users) {
				if (user.check) {
					str += cb(user);
				}
			}
			restapi.copyToClipboard(str);
		},
		// アンケートのコピー
		copySurveys: function() {

			var str = "";
			this.surveys.forEach(function(survey) {
				var dc = '"';
				var u = survey.memberId || {};
				var dl = "\t";
				var er = "\n";
				var s = (u.number || "")+dl + (u.furigana || "")+dl + (u.fullname || "")+dl
					+ survey.grade +dl
					+ survey.q_fun +dl
					+ survey.q_brain +dl
					+ survey.q_teacher +dl
					+ survey.q_again +dl
					+ (survey.memo ? dc + survey.memo.trim() +dc : "")
					+er;
				str += s;
			});
			restapi.copyToClipboard(str);
		},
		// アンケートのコピー
		copySurveys2: function() {

			var str = "";
			this.surveys2.forEach(function(survey) {
				var dc = '"';
				var u = survey.memberId;
				var dl = "\t";
				var er = "\n";
				var s = u.number+dl + u.furigana+dl + u.fullname+dl
					+ survey.age_class +dl
					+ survey.q_exec +dl
					+ survey.q_program +dl
					+ survey.q_time +dl
					+ (survey.memo ? dc + survey.memo.trim() +dc : "")
					+er;
				str += s;
			});
			restapi.copyToClipboard(str);
		},
		// サインイン(管理者用)
		adminSinin: function(id) {
			restapi.post("user/signinadmin", {id:id}).then((response) => {
				restapi.pushToken(response.data);
				window.open('/ui/class/user.html?id=xx', '_blank');
			});
		},
		// 表示モード切替
		changeModel: function() {
			this.joins = [];
			this.users = [];
			this.surveys = [];
			this.surveys2 = [];
			if (this.currentModel === "joins") {
				this.getJoins(this.eventId);
			} else if (this.currentModel === "users") {
				this.getUsers(this.eventId);
			} else if (this.currentModel === "surveys") {
				this.getSurveys(this.eventId);
			} else if (this.currentModel === "surveys2") {
				this.getSurveys2(this.eventId);
			}
		},
		// 保険加入用コピー
		copyUsers: function() {
			this.copyMeibo(this.joins, function(join) {
				var u = join.memberId;
				var dl = "\t";
				var er = "\n";
				return u.number+dl + u.furigana+dl + u.fullname+dl + u.zipcode+dl + getCsvString(u.address1)+dl
				 + getCsvString(u.address2)+dl + getCsvString(copyTel(u.tel))+dl + (!! u.hadInsurance)+dl +  u.email+dl +er;
			});
		},
		// Code.org用名簿コピー
		meiboCdo: function() {
			var str = "";
			for (let join of this.joins) {
				if (join.check) {
					let user = join.memberId;
					str += user.number+"\t"+(user.name || "")+"\n";
				}
			}
			restapi.copyToClipboard(str);
		},
		// 受付名簿用コピー
		copyJoins: function() {
			function cb(join) {
				var u = join.memberId;
				return u.number+"\t"+u.fullname+"\t"+u.furigana+"\t"+join.status+"\t"+
					join.history.length+"\t"+
					u.grade+"\t"+ (u.email?u.email:(join.parent.email?join.parent.email:""))+"\t"+
					(u.cdosection || "")+"\t"+ (u.cdopassword || "")+"\t"+
					(u.name || "")+"\t"+
					(u.sno || "")+"\t"+
					 "\n";
			}
			var users = this.joins;
			var str = "Number\t Name\t Furigana\t Staus\t 回目\t Grade\t email\t SECTION\t pass\n";
			for (let user of users) {
				if (user.check) {
					str += cb(user);
				}
			}
			restapi.copyToClipboard(str);
		},
		//パスワードランダムまたは指定文字列に
		copyPassword: function() {
			for(let i in this.joins) {
				var join  = this.joins[i];
				if (join.check) {
					if (this.newValue) {
						join.memberId.newpass = this.newValue;
					} else {
						join.memberId.newpass = ("0000" + Math.ceil(Math.random()*10000)).substr(-3,3);
					}
					Vue.set(this.joins, i, join)
				}
			}
		},
		//パスワードを電話番号の下4桁
		copyPasstel: function() {
			console.log("aaaa");
			for(let i in this.joins) {
				var join  = this.joins[i];
				if (join.check) {
					if (join.memberId && join.memberId.tel) {
						join.memberId.newpass = join.memberId.tel.substr(-4,4);
					} else {
						join.memberId.newpass = "";
					}
					Vue.set(this.joins, i, join)
				}
			}
		},
		//パスワード書込み
		updatePassword: function() {
			for (join of this.joins) {
				if (join.check) {
					restapi.post("user/password/"+join.memberId._id, {password: join.memberId.newpass}).then((response) => {
						this.errmsg = response.statusText;
						console.log(response);
					})
				}
			}
		},
		//CODE.ORGセクションコピー
		copyCdo: function() {
			for(let i in this.joins) {
				var join  = this.joins[i];
				if (join.check) {
					join.memberId.cdosection = this.newValue;
					Vue.set(this.joins, i, join)
				}
			}
		},
		//メンバー追加
		attendMember: function() {
			var event = this.event;
			restapi.get("user/?number="+this.newValue).then((response)=> {
				var user = response.data[0];
				console.log("USER!!!!!!!", user);
				restapi.post("join/", {
					name: user.fullname + ' ' + restapi.getShortDate(event.startDatetime),
					mainrole: user.mainrole,
					memberId: user._id,
					groupId: event._id
					}).then((response) => {
				})
			})
		},
		//ユーザー情報(CODE.ORG)書き変え
		updateCdo: function() {
			for (join of this.joins) {
				if (join.check) {
					var user = join.memberId;
					restapi.post("user/"+user._id, {cdosection: user.cdosection, cdopassword: user.cdopassword}).then((response) => {
						this.errmsg = response.statusText;
					})
				}
			}
		},

		//過去の出席情報を得る
		getHistory: function() {
			this.joins.forEach(function(join) {
				var user = join.memberId;
				restapi.get("join/?mid="+user._id+"&status=APPROVED").then((response) => {
					join.history = response.data;
				})
			});
		},

		//保険2018
		updateInsurance: function() {
			for (join of this.joins) {
				if (join.check) {
					var user = join.memberId;
					restapi.post("user/"+user._id, {insurance2018: user.insurance2018}).then((response) => {
						console.log(response);
						this.errmsg = response.statusText;
					})
				}
			}
		},
		//マイクロビット
		updateMicrobit: function() {
			for (join of this.joins) {
				if (join.check) {
					var user = join.memberId;
					restapi.post("user/"+user._id, {microbitLending: user.microbitLending}).then((response) => {
						console.log(response);
						this.errmsg = response.statusText;
					})
				}
			}
		},
		// ステータス更新
		updateStatus: function(join) {
			restapi.post("join/"+join._id, {status: join.status}).then((response) => {
				console.log(response);
				this.errmsg = response.statusText;
			})
		},
/*
		//ステータス
		updateStatus: function() {
			this.errmsg = "";
			for (join of this.joins) {
				if (join.check) {
					restapi.post("join/"+join._id, {status: join.status}).then((response) => {
						console.log(response);
						this.errmsg = response.statusText;
					})
				}
			}
		},
*/
		// 名刺印刷（名前とパスワードカードの2まい）
		businesscards: function() {
			var users = [];
			for (join of this.joins) {
				if (join.check) {
					var user = join.memberId;
					users.push({number: user.number, furigana: user.furigana, fullname: user.fullname,
					 address1: "NPO法人プログラミング教育研究所",address2:"HTTP://J-CODE.ORG", cdopassword: user.cdopassword})
					users.push({number: user.newpass,
					 address1: "コードドットオルグ",address2:"https://studio.code.org/sections/"+user.cdosection, cdopassword: user.cdopassword})
				}
			}
			axios({
			  url: '/api/print/businesscards',
			  method: 'POST',
			  responseType: 'blob', // important
			  data: {users: users}, 
			}).then((response) => {
			  const url = window.URL.createObjectURL(new Blob([response.data]));
			  const link = document.createElement('a');
			  link.href = url;
			  link.setAttribute('download', 'file.pdf');
			  document.body.appendChild(link);
			  link.click();
			});
		},
		// 名刺印刷（名前のみ1枚）
		businesscards1: function() {
			var users = [];
			for (join of this.joins) {
				if (join.check) {
					var user = join.memberId;
					users.push({number: user.number, furigana: user.furigana, fullname: (user.fullname || user.groupname), newpass: user.newpass, groupname: user.groupname, sno: user.sno,
					 address1: "NPO法人プログラミング教育研究所",address2:"HTTP://J-CODE.ORG",
					  cdopassword: user.cdopassword})
				}
			}
			axios({
			  url: '/api/print/businesscards',
			  method: 'POST',
			  responseType: 'blob', // important
			  data: {users: users}, 
			}).then((response) => {
			  const url = window.URL.createObjectURL(new Blob([response.data]));
			  const link = document.createElement('a');
			  link.href = url;
			  link.setAttribute('download', 'file.pdf');
			  document.body.appendChild(link);
			  link.click();
			});
		},
		// 賞状
		certificates: function() {
			var users = [];
			for (join of this.joins) {
				if (join.check) {
					var user = join.memberId;
					users.push({name: user.name, number: user.number})
					//users.push({name: user.name})
				}
			}
			axios({
			  url: '/api/print/certificates',
			  method: 'POST',
			  responseType: 'blob', // important
			  data: {users: users}, 
			}).then(function(response) {
			  const url = window.URL.createObjectURL(new Blob([response.data]));
			  const link = document.createElement('a');
			  link.href = url;
			  link.setAttribute('download', 'certificates.pdf');
			  document.body.appendChild(link);
			  link.click();
			});
		},
		// 空賞状
		certificatesE: function() {
			var users = [];
			users.push({})
			users.push({})
			axios({
			  url: '/api/print/certificates',
			  method: 'POST',
			  responseType: 'blob', // important
			  data: {users: users}, 
			}).then(function(response) {
			  const url = window.URL.createObjectURL(new Blob([response.data]));
			  const link = document.createElement('a');
			  link.href = url;
			  link.setAttribute('download', 'certificates.pdf');
			  document.body.appendChild(link);
			  link.click();
			});
		},
		changeUserCheck: function(){
			var check = this.allCheck;
			for (join of this.users) {
				join.check = check;
			}
		},
		// 選択数
		updateChecks: function(){
			var n = 0;
			for (join of this.joins) {
				if (join.check) {
					n++;
				}
			}
			this.selectedNumber = n;
		},
		// ステータスで選択
		changeSelectStatus: function(){
			for (join of this.joins) {
				join.check = (join.status == this.selectStatus);
			}
			this.updateChecks();
		},
		// 回目で選択
		changeTimes: function(){
			for (join of this.joins) {
				join.check = (join.history.length == this.times);
			}
			this.updateChecks();
		},
		// ステータスを一括変更
		changeSetStatus: function(){
			var status = this.selectStatus;
			this.joins.forEach(function(join) {
				if (join.check) {
					restapi.post("join/"+join._id, {status: status}).then((response) => {
						join.status = status;
					})
				}
			});
			this.updateChecks();
		},
		// 全選択チェック
		changeAllCheck: function(){
			var check = this.allCheck;
			for (join of this.joins) {
				join.check = check;
			}
			this.updateChecks();
		},
		// ユーザー情報
		whoami: function() {
			console.log("redrawAll", this.nexturl);
			restapi.get("user/whoami/").then((response) => {
				this.user = response.data;
				this.signedin = true;
			}).catch(function(err){
				console.log("whoami:", err);
				this.user = {name: 'ゲスト'};
				this.signedin = false;
			});
		},
		// アンケート一覧
		getSurveys: function(id) {
			restapi.get("students01/list/"+id).then((response) => {
				var arr = response.data;
				arr.sort(function(a, b){
					if (a.memberId && b.memberId) {
						return a.memberId.number -b.memberId.number
					}
					return 0;
				});
				this.surveys = arr;
			});
		},
		// アンケート一覧
		getSurveys2: function(id) {
			restapi.get("staffs01/list/"+id).then((response) => {
				var arr = response.data;
				arr.sort(function(a, b){
					return a.memberId.number -b.memberId.number
				});
				this.surveys2 = arr;
			});
		},
		// ユーザー覧
		getUsers: function(id) {
			restapi.get("user/").then((response) => {
				this.users = response.data;
			});
		},
		// 参加者一覧
		getJoins: function(id) {
			restapi.get("join/?gid="+id).then((response) => {
				var arr = response.data;
				arr.sort(function(a, b){
					if (a.memberId && b.memberId) {
						return a.memberId.number -b.memberId.number
					} else {
						return 0;
					}
				});
				// 親編集
				// 親のメールアドレスを得る
				arr.forEach(function(join) {
					join.parent = {};
					join.history = [];
				});
				arr.forEach(function(join) {
					restapi.get("user/"+join.ownerId).then(function(response){
						join.parent = response.data;
					});
				});
				this.joins = arr;
			});
		},
		// イベント情報
		getEvent: function(id) {
			restapi.get("event/"+id).then((response) => {
				var event = response.data;
				event.startDate = restapi.getDate(event.startDatetime);
				event.startTime = restapi.getTime(event.startDatetime);
				event.endTime = restapi.getTime(event.endDatetime);
				this.event = event;
			});
		},
		// サインアウト
		adminSinout: function() {
			this.signedin = false;
			restapi.popToken();
			this.whoami();
		},
	}
})

	</script>

</body>
</html>
