<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item is-size-3-desktop" href="https://j-code.org">
				NPO法人プログラミング教育研究所
			</a>
		</div>
		<div class="navbar-start">
			<a class="navbar-item" href="/ui/class/">
			  はじめにもどる
			</a>
		</div>
		<div class="navbar-end">
			<a class="navbar-item" href="/go/ui/class/">
			  サインアウト
			</a>
		</div>
	</nav>

	<div id="app">
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<article class="message is-primary">
						<div class="content">
							<div class="message-header">
								プログラミング教室・イベント参加申込
							</div>

							<div class="message-body">

								<div class="message-body">
									<span class="is-size-3">${event.name}</span><br />
									日付： ${event.startDate}<br />
									時間： ${event.startTime}～${event.endTime}<br />
									場所： ${event.place}<br />
									説明： ${event.description}<br />
									
									定員：${event.studentMax} 名<br />
									申込：${event.studentApplicant} 名<br />
									対象：${event.mainrole} <br />
									<span class="help">${deadline(event.startDatetime, event.studentBefore)}</span><br />
								</div>

								<div class="message-body">

									申込したひと
									<table class="table is-striped">
										<tbody>
											<tr>
												<th>会員番号</th>
												<th>名前</th>
												<th>役割</th>
												<th>ステータス</th>
												<th>アクション</th>
											</tr>
											<tr v-for="join in joins">
												<td>${join.memberId.number}</td>
												<td>${join.memberId.fullname}</td>
												<td>${getMainrole(join.mainrole)}</td>
												<td>${getStaus(join.status)}</td>
												<td>
													<button click v-on:click.prevent="leave(join)">参加取消</button>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="message-body">
									<h3 class="is-warning">${deadline(event.startDatetime, event.studentBefore)}</h3>

									参加の申込をしてください
									<table class="table is-striped">
										<tbody>
											<tr>
												<th>会員番号</th>
												<th>名前</th>
												<th>役割</th>
												<th>学年</th>
												<th>アクション</th>
											</tr>
											<tr v-for="user in users">
												<td>${user.number}</td>
												<td>${user.fullname}</td>
												<td>${getMainrole(user.mainrole)}</td>
												<td>${user.grade}</td>
												<td>
													<button v-if="checkUser(user)" click v-on:click.prevent="attend(user)">参加申込</button>
												</td>
											</tr>
										</tbody>
									</table>
									<p class="help is-info">
										名前の横にある「参加申込」をクリックすると、この教室・イベントに参加の申込となります。<br />
										申込を受け付けていない場合は、ボタンが表示されません。
									<p>

									<div class="box">
											<p class="help">参加者の追加・削除、名前の変更は以下のボタンをクリック。<p>
									    <button class="button is-info" v-on:click.prevent="manageUser()">参加者の管理</button>
									</div>

							    <button class="button is-info" v-on:click.prevent="eventList()">教室の一覧を見る</button>

								</div>


							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	
	<script>window.Promise || document.write('<script src="//www.promisejs.org/polyfills/promise-7.0.4.min.js"><\/script>');</script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>
	
	
	"use strict";

if (!Array.prototype.find) {
  Array.prototype.find = function(predicate) {
    if (this === null) {
      throw new TypeError('Array.prototype.find called on null or undefined');
    }
    if (typeof predicate !== 'function') {
      throw new TypeError('predicate must be a function');
    }
    var list = Object(this);
    var length = list.length >>> 0;
    var thisArg = arguments[1];
    var value;
    for (var i = 0; i < length; i++) {
      value = list[i];
      if (predicate.call(thisArg, value, i, list)) {
        return value;
      }
    }
    return undefined;
  };
}

const showerror = function(error) {
	console.log("error:",error);
	console.log("error:",error.response.data);
	document.getElementById("errormsg").innerHTML = error.response.data;
}

const app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		event: {},
		users: [],
		user:{},
		joins: [], //参加者一覧
		studentAllow: false,
	},
	mounted: function() {
		// Query文字列を見る
		var v = restapi.getUrlVars();
		var id  = v && v.id ? v.id : null;
		this.getEvent(id);
		this.whoami();
		this.getUsers();

	},
	methods: {
		checkDeadline: function(date, before) {
			var dt = new Date(date);
			if (!before) {
				return false;
			}
			dt.setDate(dt.getDate() - before);
			if (dt < new Date()) {
				return false;
			}
			return true;
		},
		deadline: function(date, before) {
			var dt = new Date(date);
			var msg = "";
			if (!before) {
				return "参加予約はしていません";
			}
			dt.setDate(dt.getDate() - before);
			if (dt < new Date()) {
				return "募集は終了しました";
			}
			msg = "締切"+before+"日前まで"
			return msg;
		},
		// 表示するか？
		checkUser: function(user) {
			if (user.mainrole != this.event.mainrole)
				return false;
			if (!this.studentAllow)
				return false;
			var found = this.joins.find(function(join) {
				return join.memberId._id == user._id;
			});
			return (!found);
		},
		redraw: function() {
			this.getEvent(this.event._id);
		},
		// ユーザー管理画面
		manageUser: function() {
			location.href = '/go/profile' + location.pathname + location.search;
		},
		// イベント一覧画面
		eventList: function() {
			location.href = './event-index.html' + location.search;
		},
		// アカウント情報
		whoami: function() {
			var that = this;
			restapi.get("user/whoami/?_="+Date.now()).then(function(response) {
				that.user = response.data;
				console.log("contact:", response);
			}).catch(function(err){
				//that.user = null;
				that.user = {name: null};
				that.signinDialog = true;
				showerror(err);
			});
		},
		// ユーザー情報
		getUsers: function() {
			var that = this;
			restapi.get("user/").then(function(response) {
				that.users = response.data;
				console.log("users", that.users);
			}).catch(function(err){
				that.users = [];
				that.showerror(err);
			});
		},
		// joins
		getJoins: function(id) {
			console.log("joins!",id);
			var that = this;
			restapi.get("join/?gid="+id+"&_="+Date.now()).then(function(response) {
				console.log("joins!",response.data);
				that.joins = response.data;
			}).catch(function(err){
				console.log("joins!",err);
				that.joins = [];
				that.showerror(err);
			});
		},
		// 役割
		getMainrole: function(role) {
			var mainrole = {STUDENT:'生徒',PARENT:'保護者',STAFF:'スタッフ'};
			return mainrole[role];
		},
		getStaus: function(s) {
			var status = {PENDING:'申込中',APPROVED:'参加確定',CANCEL:'取消中',REJECTED:'抽選に外れました'};
			return status[s];
		},
		// イベント情報
		getEvent: function(id) {
			var that = this;
			restapi.get("event/"+id).then(function(response) {
				var event = response.data;
				event.startDate = restapi.getDate(event.startDatetime);
				event.startTime = restapi.getTime(event.startDatetime);
				event.endTime = restapi.getTime(event.endDatetime);
				that.event = event;
				that.getJoins(event._id);
				that.studentAllow = event.studentPublic && that.checkDeadline(event.startDatetime, event.studentBefore)
				 && (!event.studentLimit || event.studentApplicant < event.studentLimit);
			});
		},
		// 参加申込
		attend: function(user) {
			var that = this;
			var event = this.event;
			restapi.post("join/", {
				name: user.fullname + ' ' + restapi.getShortDate(event.startDatetime),
				mainrole: user.mainrole,
				memberId: user._id,
				groupId: event._id }).then(function(response) {
					restapi.get("event/statusupdate/"+event._id).then(function(response) {
						console.log("Join:", response);
						that.redraw();
					});
			}).catch(function(err){
				that.redraw();
			});
		},
		// 参加キャンセル
		leave: function(join) {
			var that = this;
			var id = join.groupId;
			restapi.delete("join/"+join._id).then(function(response) {
				restapi.get("event/statusupdate/"+id).then(function(response) {
					console.log("leave:", response);
					that.redraw();
				});
			}).catch(function(err){
				console.log("leave err:", err);
				that.redraw();
			});
		},
	}
})


	</script>

</body>
</html>
