<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item is-size-3-desktop" href="https://j-code.org">
				NPO法人プログラミング教育研究所
			</a>
		</div>
		<div class="navbar-start">
			<a class="navbar-item" href="/ui/class/">
			  はじめにもどる
			</a>
		</div>
		<div class="navbar-end">
			<a class="navbar-item" href="/go/ui/class/">
			  サインアウト
			</a>
		</div>
	</nav>

	<div id="app">
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<article class="message is-primary">
						<div class="content">
							<div class="message-header">
								プログラミング教室・イベント一覧
							</div>

							<div class="message-body">
								場所でしぼりこむ：
								<select class="select" v-model="place" v-on:click.prevent="get_events">
									<option value="赤羽文化センター">赤羽文化センター</option>
									<option value="中央公園文化センター">中央公園文化センター</option>
									<option value="滝野川文化センター">滝野川文化センター</option>
									<option value="" selected>すべて</option>
								</select>

								<table class="table is-striped">
									<tbody>
										<tr>
											<th>
												日時／名称
											</th>
											<th>
												参加
											</th>
										</tr>

										<tr v-for="event in events" v-on:click.prevent="edit_item(event._id)">
											<td>
												<span class="has-text-link is-size-5"> ${event.name}</span><br />
												<i class="far fa-calendar-alt"></i>： ${localDatetimeLong(event.startDatetime, event.endDatetime)}<br />
												<i class="fas fa-map-marker-alt"></i>： ${event.place}<br />
												<span class="has-text-grey-dark is-size-7"> ${event.description}</span><br />
											</td>
											<td>
												申込：${event.studentApplicant}<br />
												定員：${event.studentMax}<br />
												${deadline(event.startDatetime, event.studentBefore)}<br />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>
	
	
	"use strict";

const app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		user:{},
		events: [],
		role: "",
		place: "",
	},
	mounted: function() {
		// Query文字列を見る
		var v = restapi.getUrlVars();
		this.role  = v && v.role ? v.role : null;
		this.whoami();
		this.get_events();
	},
	methods: {
		deadline: function(date, before) {
			var dt = new Date(date);
			var msg = "";
			if (!before) {
				return "参加予約はしていません";
			}
			dt.setDate(dt.getDate() - before);
			if (dt < new Date()) {
				return "募集は終了しました";
			}
			msg = "締切"+before+"日前("+this.localDatetime(dt)+")まで"
			return msg;
		},
		// アカウント情報
		whoami: function() {
			this.nexturl = '/go/password' + location.pathname + location.search;
			console.log("SIGNIN", this.nexturl);

			var that = this;
			restapi.get("user/whoami/").then((response) => {
				that.user = response.data;
				console.log("contact:", response);
			}).catch(function(err){
				//that.user = null;
				that.user = {name: null};
				that.signinDialog = true;
			});
		},
		// 一覧表示
		get_events: function() {
			var that = this;
			console.log(this.role);
			restapi.get("event/"+(this.role?"?role="+this.role : "")+(this.place?"&place="+this.place : "")).then((response) => {
				that.events = response.data;
			}).catch(function(err){
				that.events = [];
			});
		},
		//
		localDatetime(t) {
			return restapi.localDatetime(t);
		},
		localDatetimeLong(s, e) {
			return restapi.getDate(s) + restapi.getTime(s) +"～"+ restapi.getTime(e);
		},
		// item 編集
		edit_item: function(id) {
			location.href = "./event.html?id="+id+(this.role?"&role="+this.role : "");
		},

	}
})


	</script>

</body>
</html>
