<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>プログラミング教育研究所</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

</head>
<body>
	<div id="app">

		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

						<article v-if="!understand" class="message is-primary">
							<div class="content">
								<div class="message-header">
									プログラミング教室
								</div>
								<div class="message-body">
										<p>
											プログラミング教室の3つの約束
										</p>
																		<h1 class="title">はしらない</h1>
										<p>
											はしったり、ものを<ruby>振り回<rt>ふりまわ</rt></ruby>したり、しないでください。
										</p>
										
																		<h1 class="title">がまんしない</h1>
										<p>
											トイレに<ruby>行<rt>い</rt></ruby>きたくなったり、きもちわるくなったら、がまんしないで、すぐに<ruby>教<rt>おし</rt></ruby>えてください。<br />
											せんせいに なにか<ruby>聞<rt>き</rt></ruby>きたいときは <ruby>手<rt>て</rt></ruby>をあげて よんでください。
										</p>
										
																		<h1 class="title">おはなしをきく</h1>
										<p>
											せんせいが「きいてください」といったら、さぎょうの<ruby>手<rt>て</rt></ruby>をとめて、せんせいの<ruby>話<rt>はなし</rt></ruby>をきいてください。<br />
										</p>
										
										<button class="button is-info" v-on:click.prevent="understand = true">わかりました</button>
								</div>
							</div>
						</article>

						<article class="message is-primary">
							<div class="content">
								<div class="message-header">
									教室・イベント
								</div>
								<div class="message-body">

									<template v-if="user._id">
										会員番号：${user.number}<br />
										<h2 class="subtitle"><ruby>${user.fullname}<rt>${user.furigana}</rt></ruby><font size="3">さん、</font>ようこそ</h2>
									</template>
									<template v-else>
										<h2>
										こんにちは、
											<a v-bind:href="'/go'+nexturl">サインイン</a>してください。
										</h2>
									</template>

									<ul class="menu-list">

										<li>
											<a href="http://kita.j-code.org/kitaku/2017/02/07/touchtyping/" target="_blank">キーボード（タッチタイピングの<ruby>練習<rt>れんしゅう</rt></ruby>）</a>
										</li>

										<template v-if="user.cdosection">
											<li>
												<a v-bind:href="'https://studio.code.org/sections/' + user.cdosection" target="_blank"><ruby>CODE.ORG<rt>コード ドット オルグ</rt></ruby>をはじめる</a>
											</li>
										</template>
										<template v-else>
											<li>
												<a href="https://code.org" target="_blank"><ruby>CODE.ORG<rt>コード ドット オルグ</rt></ruby>をはじめる</a>
											</li>
										</template>

										<li>
											<a href="https://makecode.microbit.org" target="_blank"><ruby>micro:bit<rt>マイクロビット</rt></ruby>をはじめる</a>
										</li>

										<h4 class="menu-label">かえるまえにアンケート</h4>

										<div class="box">
											<template v-if="showEvent">
												なまえ： ${event.name}<br />
												ばしょ： ${event.place}<br />
												<a v-bind:href="'/go/students01' + nexturl">アンケートに<ruby>答<rt>こた</rt></ruby>える</a>
											</template>
											<template v-else>
												<h4 class="menu-label">きょうのプログラミング<ruby>教室<rt>きょうしつ</rt></ruby>は、どれですか？</h4>
												<ul class="menu-list">
													<li v-for="event of events">
														<a v-bind:href="nexturl + '?id=' + event._id">${event.name} </a>
													</li>
												</ul>
											</template>
										</div>

										<li v-if="user._id">
											ぜんぶおわったので <span class="button" v-on:click.prevent="adminSinout()">サインアウト</span> する
										</li>

									</ul>
								</div>
							</div>
						</article>

				</div>
			</div>
		</div>
	</div>
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/ui/js/restapi.js"></script>
	<script>

const app = new Vue({
	delimiters: ['${', '}'],
	el: '#app',
	data: {
		nexturl: "",
		go_profile: "",
		user: {},
		events: [],
		event:{},
		showEvent: null,
		understand: false,
	},
	mounted: function() {
		this.nexturl = location.pathname + location.search;
		// Query文字列を見る
		var v = restapi.getUrlVars();
		var id  = v && v.id ? v.id : null;
		if (! id) {
			this.getEvents();
		} else {
			this.getEvent(id);
		}
		this.whoami();
	},
	methods: {
		// ユーザー情報
		whoami: function() {
			var user = this.user;
			console.log("whoami", this.nexturl);
			restapi.get("user/whoami/").then((response) => {
				this.user = response.data;
			}).catch(function(err){
				console.log("whoami:", err);
				user._id = null;
			});
		},
		// イベント一覧
		getEvents: function() {
			restapi.get("event/?role=ALL&period=NOW").then((response) => {
				this.events = response.data;
			});
		},
		// イベント情報
		getEvent: function(id) {
			restapi.get("event/"+id).then((response) => {
				this.event = response.data;
				this.showEvent = true;
			});
		},
		// サインアウト
		adminSinout: function() {
			restapi.popToken();
			this.whoami();
		},
	}
})

	</script>

</body>
</html>
