<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello pel</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<style>
	.message {
		margin: 0.5rem;
	}
	.is-parent {
		margin: 0.5rem;
	}
	</style>
</head>
<body>
	<div id="app">



		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">
			_id: {{user._id}}, name: {{user.name}}, email: {{user.email}}, member_id: {{user.member_id}},

				</div>
			</div>
		</div>


		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box">

					<article class="message is-primary">
						<div class="content">
							<div class="message-header">

								<select v-model="selected">
									<option disabled value="">Please select one</option>
									<option>event</option>
									<option>contact</option>
									<option>user</option>
								</select>
								<span>Selected: {{ selected }}</span>
								<button class="button" v-on:click.prevent="get_items">一覧表示</button>

							</div>
							<div class="message-body">


						  	<div class="control has-text-right">
							  	<input class="button is-primary" v-on:click.prevent="create_item" value="新規作成">
							  </div>

								<table class="table">
									<tbody>
										<itemcomp v-for="item in items" :item="item" v-on:edit_item="edit_item" v-on:delete_item="delete_item" ></itemcomp>
									</tbody>
								</table>
							</div>
						</div>
					</article>


				</div>
			</div>
			<div class="tile is-parent">
				<div class="tile is-child box">
		<form v-on:submit.prevent="form_submit">

			<article class="message is-primary">
				<div class="content">
					<div class="message-header">
						編集
					</div>
					<div class="message-body">

						<template v-for="(value, key) in item">
							<div class="field">
								<label class="label">{{ key }}</label>
								<input v-model="item[key]" class="input" type="text">
							</div>
						</template>

					<div class="field is-grouped">
						<p class="morespace">データの更新</p>
				  	<div class="control has-text-right">
					  	<input class="button is-primary" type="submit" value="更新">
					  </div>
					</div>

					</div>
				</div>
			</article>
		</form>


				</div>
			</div>
		</div>



	</div>
	
	<script id="template-task-item" type="text/x-template">
		<tr>
			<td>
				<label class="checkbox">
					<input v-model="item.finished" type="checkbox">
				</label>
			</td>
			<td>
				{{item._id}}
			</td>
			<td>
				{{item.comment}}
			</td>
			<td>
				<button class="button" v-on:click.prevent="edit_click">編集</button>
				<button class="button" v-on:click.prevent="delete_click">削除</button>
			</td>
		</tr>
	</script>

	
	
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="script.js"></script>
</body>
</html>
