<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Jcode Educational</title>
	<!-- Bulma JQuery Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/bulma.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>

	<!-- jcode & blockly -->
	<script src="/jcode/storage.js"></script>
	<script src="/blockly/blockly_compressed.js"></script>
	<script src="/blockly/blocks_compressed.js"></script>
	<script src="/blockly/javascript_compressed.js"></script>

	<!-- threejs -->
	<script src="/three/build/three.js"></script>
	<script src="/three/examples/js/controls/OrbitControls.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>

	<!-- jcode ext -->
	<script src="/jcode/jcode-lib/TextBoardObject.js"></script>
	<script src="/jcode/code.js"></script>
	<script src="/jcode/jcode.js"></script>
	<script src="/jcode/jcode-lib/obj.js"></script>
	<script src="/jcode/jcode-lib/three.js"></script>
	<script src="/jcode/jcode-lib/instructions.js"></script>

	<!-- lessons js -->
	<script src="{{scriptfilename}}"></script>
	
	<style type="text/css">

/* 吹き出し本体 - 枠線付きの吹き出し */
.balloon2{
	margin: 0.2em 0.2em 0.1em 1.5em;
  position: relative;
  padding: 7px 10px;
  background-color: #FFF;
  border: 2px solid #7AC8EC;
  border-radius: 10px;         /* 角丸を指定 */
}
/* 三角アイコン - 枠線付きの吹き出し */
.balloon2::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 8px;
  border-right: 12px solid #7AC8EC;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
.balloon2::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -9px;
  top: 8px;
  border-right: 12px solid #FFF;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
}
	.orange600 {
		color: #FB8C00; 
	}

	.content {
    position: absolute;
    top: 0px;
    left: 16px;
    width: 97%;
    height: 100%;
	}

	html {
    overflow-y: auto;
	}
	</style>
</head>
<body>
	<audio id="broadcasting-start1" preload="auto">
	</audio>
	<audio id="trumpet1" preload="auto">
		<source src="/jcode/sounds/trumpet1.mp3" type="audio/mp3">
	</audio>
	<audio id="stupid4" preload="auto">
			<source src="/jcode/sounds/stupid4.mp3" type="audio/mp3">
	</audio>
	<audio id="boyoyon1" preload="auto">
			<source src="/jcode/sounds/boyoyon1.mp3" type="audio/mp3">
	</audio>
	<audio id="people-people-stadium-cheer1" preload="auto">
			<source src="/jcode/sounds/people-people-stadium-cheer1.mp3" type="audio/mp3">
	</audio>

	<nav class="navbar is-info">
		<div class="navbar-brand">
			<span class="nav-item is-size-4-desktop" href="/" id="title">
				プログラミング教育研究所
			</span>
			<button class="button navbar-burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
		<div class="navbar-menu" id="navMenu">
			<div class="navbar-end">
				<div class="nav-item ">
					<select id="languageMenu"></select>
				</div>
			</div>
		</div>		
	</nav>

	<section class="tile is-ancestor is-vertical" style="margin-top:-9px;background:#EFEFEF">
		<div class="tile is-parent is-primary">

			<article class="tile is-child is-6">
				<div id="threejs-canvas" style="height:300px;">
				</div>
				<div id="WebGL-ui">
						<div id="vr-button"></div>
						<a id="magic-window" href="#" class="balloon" style="display: none">>
							はじめ
						</a>
				</div>
			</article>					

			<article class="tile is-child is-primary" style="background:#DBDBDB" id="instruction-canvas">
			</article>					
		</div>
		<div class="tile is-parent is-primary is-paddingless" style="background:#FFF">
			<article class="tile is-child is-primary">

				<div class="tabs is-left is-marginless">
					<ul style="height:42px">
						<li><a id="tab_blocks" class="tabon is-active">...</a></li>
						<li><a id="tab_javascript" class="taboff">JavaScript</a></li>
						<li><a  id="tab_xml" class="taboff">XML</a></li>
					</ul>
				</div>
			</article>
			<article class="tile is-child is-primary">
  			<div class="tabs is-right is-marginless">
					<ul style="height:42px">
								<li>
									<button id="runButton">
										<span class="icon orange600">
												<i class="fa fa-play-circle " aria-hidden="true"></i>
										</span>
										実行
									</button>
									<button id="clearButton" title="...">
											<span class="icon">
													<i class="fa fa-refresh" aria-hidden="true"></i>
												</span>
											</button>
									<button id="linkButton" class="notext" title="...">
										<span class="icon">
													<i class="fa fa-files-o" aria-hidden="true"></i>
												</span>
											</button>
									<button id="trashButton" class="notext" title="...">
											<span class="icon has-text-danger">
												<i class="fa fa-trash-o" aria-hidden="true"></i>
											</span>
									</button>
								</li>
					</ul>
				</div>
			</article>
		</div>
		<div class="tile is-parent is-primary is-paddingless">
					
				<div id="content_area" style="position: relative;width:100%;height:300px;"> 	<!-- important -->
					<div id="content_blocks" class="content"></div>
					<pre id="content_javascript" class="content"></pre>
					<textarea id="content_xml" class="content" wrap="off"></textarea>
				</div>

		</div>
	</section>

<script>

function clearTeachersGroup(){
  JCODE.clearGroup ("tehon",{shape:"sphere", color:'#ffffff', speed:2, scale:0.9, opacity:0.5, arrow:"always"});
}

// コードブロックXMLを読み込んで、ユーザーのエリアに表示する
function loadBlocks(code){
  Code.workspace.clear();
  Code.loadBlocks(code);
}

// インストラクションエリアを初期化する
function initInstruction() {
  $("#instruction-canvas").html("<div id='instructions' style='width:100%;height:300px;overflow-y:scroll;'></div>");
}

// html インストラクションを追加して、一番下にスクロールする
function print(h) {
  $("#instructions").append($("<p class='balloon2' />").html(h));
  $('#instructions').animate({scrollTop: $('#instructions')[0].scrollHeight}, 'fast');
}


function highlightBlock(id) {
  Code.workspace.highlightBlock(id);
  JCODE.highlightBlockId = id;
}

function saiten() {
  if (!JCODE.tehon) return 0;
  if (!JCODE.playground) return 0;
  var tehon = JCODE.tehon.children;
  var result = JCODE.playground.children;
  var tokuten = 0;
  for (var i = 0; i < tehon.length; i++) {
    for (var j = 0; j < result.length; j++) {
      var distance = tehon[i].position.distanceTo( result[j].position );
      //console.log(distance);
      if ( distance <= 0.01) {
        tokuten++;
      }
    }
  }
  console.log("TTL:",tokuten);
  return {teachers:tehon.length, students:result.length, points:tokuten};
}

// playgroundを掃除して、RUNボタンが押されたらコードを実行するようにコールバックを設定し、
// プログラムの実行が終了したら、指定のプログラムを実行する
function nextLesson(func, timeout) {

	function callback() {
		var tokuten = saiten();
		if (func) {func(tokuten);}
	}
	$("#runButton").off("click");
	if (timeout) {setTimeout(callback, timeout);}
  $('#runButton').on("click", function () {
    Blockly.JavaScript.STATEMENT_PREFIX = 'highlightBlock(%1);\n';
    JCODE.clearGroup ('playground');
    Code.runJS();
    // すべてのpromiseが完了するのを待ってコードを実行
    var children = JCODE.playground.children;
    var promises = [];
    for (var i = 0; i < children.length; i++) {
      promises.push(children[i].userData.promise);
    }
    Promise.all(promises).then(function (value) {
      Blockly.JavaScript.STATEMENT_PREFIX = '';
			highlightBlock();
      console.log("all done...");
			callback();
    })
  });
}

// ここから開始します。
$(function(){
	$("#clearButton").click(clearStudentsGroup);
  Code.initBlockly($('#toolbox_all').prop('outerHTML'));
  initInstruction(); // インストラクションの初期化
  setTimeout(startLesson, 2000);  
});

</script>

<xml id="toolbox_start" style="display: none">
	<variables>
    <variable type="" id="*YKsc]3xQIgK|dKb_Bx.">obj</variable>
  </variables>
  <block type="three_createNew" id="iIe)+8=R%4^l4V-bIA[R" x="13" y="37">
    <field name="VAR" id="*YKsc]3xQIgK|dKb_Bx." variabletype="">obj</field>
    <value name="VALUE">
      <block type="three_typeName" id="[{M)=YVi9L`KvYdNaQ0.">
        <field name="FIELDNAME">box</field>
      </block>
    </value>
  </block>
  <block type="three_moveForward" id="D-_pM5U9c8JrL%WEld?+" x="13" y="113">
    <field name="VAR" id="*YKsc]3xQIgK|dKb_Bx." variabletype="">obj</field>
    <value name="VALUE">
      <block type="math_number" id="$i#%a=5{,|;p`lsL(W#|">
        <field name="NUM">10</field>
      </block>
    </value>
  </block>
  <block type="three_turnRight" id="X:Le5^gVu[{Aan}]e4=J" x="13" y="163">
    <field name="VAR" id="*YKsc]3xQIgK|dKb_Bx." variabletype="">obj</field>
    <value name="VALUE">
      <block type="three_angle" id="?)cfixviBf1f_+~x2t;D">
        <field name="FIELDNAME">90</field>
      </block>
    </value>
  </block>
  <block type="three_lookUpward">
    <field name="VAR" variabletype="">obj</field>
    <value name="VALUE">
      <block type="three_angle">
        <field name="FIELDNAME">45</field>
      </block>
    </value>
	</block>
	
</xml>



<xml id="toolbox_all" style="display: none">
		<category name="%{BKY_CATLOGIC}" colour="%{BKY_LOGIC_HUE}">
			<block type="controls_if"></block>
			<block type="logic_compare"></block>
			<block type="logic_operation"></block>
			<block type="logic_negate"></block>
			<block type="logic_boolean"></block>
			<block type="logic_null"></block>
			<block type="logic_ternary"></block>
		</category>
		<category name="%{BKY_CATLOOPS}" colour="%{BKY_LOOPS_HUE}">
			<block type="controls_repeat_ext">
			<value name="TIMES">
				<shadow type="math_number">
				<field name="NUM">10</field>
				</shadow>
			</value>
			</block>
			<block type="controls_whileUntil"></block>
			<block type="controls_for">
			<value name="FROM">
				<shadow type="math_number">
				<field name="NUM">1</field>
				</shadow>
			</value>
			<value name="TO">
				<shadow type="math_number">
				<field name="NUM">10</field>
				</shadow>
			</value>
			<value name="BY">
				<shadow type="math_number">
				<field name="NUM">1</field>
				</shadow>
			</value>
			</block>
			<block type="controls_forEach"></block>
			<block type="controls_flow_statements"></block>
		</category>
			<category name="%{BKY_CATMATH}" colour="%{BKY_MATH_HUE}">
				<block type="math_number"></block>
				<block type="math_arithmetic">
				<value name="A">
					<shadow type="math_number">
					<field name="NUM">1</field>
					</shadow>
				</value>
				<value name="B">
					<shadow type="math_number">
					<field name="NUM">1</field>
					</shadow>
				</value>
				</block>
				<block type="math_single">
				<value name="NUM">
					<shadow type="math_number">
					<field name="NUM">9</field>
					</shadow>
				</value>
				</block>
				<block type="math_trig">
				<value name="NUM">
					<shadow type="math_number">
					<field name="NUM">45</field>
					</shadow>
				</value>
				</block>
				<block type="math_constant"></block>
				<block type="math_number_property">
				<value name="NUMBER_TO_CHECK">
					<shadow type="math_number">
					<field name="NUM">0</field>
					</shadow>
				</value>
				</block>
				<block type="math_round">
				<value name="NUM">
					<shadow type="math_number">
					<field name="NUM">3.1</field>
					</shadow>
				</value>
				</block>
				<block type="math_on_list"></block>
				<block type="math_modulo">
				<value name="DIVIDEND">
					<shadow type="math_number">
					<field name="NUM">64</field>
					</shadow>
				</value>
				<value name="DIVISOR">
					<shadow type="math_number">
					<field name="NUM">10</field>
					</shadow>
				</value>
				</block>
				<block type="math_constrain">
				<value name="VALUE">
					<shadow type="math_number">
					<field name="NUM">50</field>
					</shadow>
				</value>
				<value name="LOW">
					<shadow type="math_number">
					<field name="NUM">1</field>
					</shadow>
				</value>
				<value name="HIGH">
					<shadow type="math_number">
					<field name="NUM">100</field>
					</shadow>
				</value>
				</block>
				<block type="math_random_int">
				<value name="FROM">
					<shadow type="math_number">
					<field name="NUM">1</field>
					</shadow>
				</value>
				<value name="TO">
					<shadow type="math_number">
					<field name="NUM">100</field>
					</shadow>
				</value>
				</block>
				<block type="math_random_float"></block>
			</category>
			<category name="%{BKY_CATTEXT}" colour="%{BKY_TEXTS_HUE}">
				<block type="text"></block>
				<block type="text_join"></block>
				<block type="text_append">
				<value name="TEXT">
					<shadow type="text"></shadow>
				</value>
				</block>
				<block type="text_length">
				<value name="VALUE">
					<shadow type="text">
					<field name="TEXT">abc</field>
					</shadow>
				</value>
				</block>
				<block type="text_isEmpty">
				<value name="VALUE">
					<shadow type="text">
					<field name="TEXT"></field>
					</shadow>
				</value>
				</block>
				<block type="text_indexOf">
				<value name="VALUE">
					<block type="variables_get">
					<field name="VAR">{textVariable}</field>
					</block>
				</value>
				<value name="FIND">
					<shadow type="text">
					<field name="TEXT">abc</field>
					</shadow>
				</value>
				</block>
				<block type="text_charAt">
				<value name="VALUE">
					<block type="variables_get">
					<field name="VAR">{textVariable}</field>
					</block>
				</value>
				</block>
				<block type="text_getSubstring">
				<value name="STRING">
					<block type="variables_get">
					<field name="VAR">{textVariable}</field>
					</block>
				</value>
				</block>
				<block type="text_changeCase">
				<value name="TEXT">
					<shadow type="text">
					<field name="TEXT">abc</field>
					</shadow>
				</value>
				</block>
				<block type="text_trim">
				<value name="TEXT">
					<shadow type="text">
					<field name="TEXT">abc</field>
					</shadow>
				</value>
				</block>
				<block type="text_print">
				<value name="TEXT">
					<shadow type="text">
					<field name="TEXT">abc</field>
					</shadow>
				</value>
				</block>
				<block type="text_prompt_ext">
				<value name="TEXT">
					<shadow type="text">
					<field name="TEXT">abc</field>
					</shadow>
				</value>
				</block>
			</category>
			<category name="%{BKY_CATLISTS}" colour="%{BKY_LISTS_HUE}">
				<block type="lists_create_with">
				<mutation items="0"></mutation>
				</block>
				<block type="lists_create_with"></block>
				<block type="lists_repeat">
				<value name="NUM">
					<shadow type="math_number">
					<field name="NUM">5</field>
					</shadow>
				</value>
				</block>
				<block type="lists_length"></block>
				<block type="lists_isEmpty"></block>
				<block type="lists_indexOf">
				<value name="VALUE">
					<block type="variables_get">
					<field name="VAR">{listVariable}</field>
					</block>
				</value>
				</block>
				<block type="lists_getIndex">
				<value name="VALUE">
					<block type="variables_get">
					<field name="VAR">{listVariable}</field>
					</block>
				</value>
				</block>
				<block type="lists_setIndex">
				<value name="LIST">
					<block type="variables_get">
					<field name="VAR">{listVariable}</field>
					</block>
				</value>
				</block>
				<block type="lists_getSublist">
				<value name="LIST">
					<block type="variables_get">
					<field name="VAR">{listVariable}</field>
					</block>
				</value>
				</block>
				<block type="lists_split">
				<value name="DELIM">
					<shadow type="text">
					<field name="TEXT">,</field>
					</shadow>
				</value>
				</block>
				<block type="lists_sort"></block>
			</category>
			<category name="%{BKY_CATCOLOUR}" colour="%{BKY_COLOUR_HUE}">
				<block type="colour_picker"></block>
				<block type="colour_random"></block>
				<block type="colour_rgb">
				<value name="RED">
					<shadow type="math_number">
					<field name="NUM">100</field>
					</shadow>
				</value>
				<value name="GREEN">
					<shadow type="math_number">
					<field name="NUM">50</field>
					</shadow>
				</value>
				<value name="BLUE">
					<shadow type="math_number">
					<field name="NUM">0</field>
					</shadow>
				</value>
				</block>
				<block type="colour_blend">
				<value name="COLOUR1">
					<shadow type="colour_picker">
					<field name="COLOUR">#ff0000</field>
					</shadow>
				</value>
				<value name="COLOUR2">
					<shadow type="colour_picker">
					<field name="COLOUR">#3333ff</field>
					</shadow>
				</value>
				<value name="RATIO">
					<shadow type="math_number">
					<field name="NUM">0.5</field>
					</shadow>
				</value>
				</block>
			</category>
			<sep></sep>
			<category name="%{BKY_CATVARIABLES}" colour="%{BKY_VARIABLES_HUE}" custom="VARIABLE"></category>
			<category name="%{BKY_CATFUNCTIONS}" colour="%{BKY_PROCEDURES_HUE}" custom="PROCEDURE"></category>
		
			<sep></sep>
		
		<category name="3Dオブジェクト" colour="#abcc52">
			<block type="three_createNew">
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="three_typeName">
						<field name="FIELDNAME">box</field>
					</shadow>
				</value>
			</block>
			<block type="three_moveForward">
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="math_number">
						<field name="NUM">10</field>
					</shadow>
				</value>
			</block>
			<block type="three_turnRight">
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="three_angle">
						<field name="FIELDNAME">90</field>
					</shadow>
				</value>
			</block>
			<block type="three_lookUpward">
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="three_angle">
						<field name="FIELDNAME">90</field>
					</shadow>
				</value>
			</block>
			<block type="three_setColor">
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="colour_picker">
						<field name="COLOUR">#ff0000</field>
					</shadow>
				</value>
			</block>
			<block type="three_setScale" >
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="math_number" >
						<field name="NUM">1</field>
					</shadow>
				</value>
			</block>
			<block type="three_setSpeed" >
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="math_number" >
						<field name="NUM">1</field>
					</shadow>
				</value>
			</block>
			<block type="three_setTransparent">
				<field name="VAR" variabletype="">obj</field>
				<value name="VALUE">
					<shadow type="math_number" >
						<field name="NUM">0</field>
					</shadow>
				</value>
			</block>

		</category>>
	</xml>
</body>
</html>
